---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>ACCEPTED PAPERS</title>
{% include head-tags.html %}
</head>
<body>

{% include header.html %}
{% include slider-regular-page.html title="ACCEPTED PAPERS" %}

<section id = "program-committee">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="block">
          <div style="margin-bottom: 100px;">
            <h1>List of accepted papers</h1>
            {% assign sortedPapers = site.data.papers | sort: 'title' %}
            {% for paper in sortedPapers %}
                <p>
                    <b>{{ paper.title }}</b>
                    {% if paper.type == "regular" %}
                    (research paper)
                    {% elsif paper.type == "vision" %}
                    (vision paper)
                    {% elsif paper.type == "industry" %}
                    (industry paper)
                    {% endif %}
                    <br />
                    <i>
                        {% for author in paper.authors %}
                            {{- author.name -}} 
                            {%- assign next = paper.authors[forloop.index] -%}
                            {% unless author.institution == next.institution %}
                            ({{ author.institution -}})
                            {%- endunless -%}
                            {%- unless forloop.last %},{% endunless %}
                        {% endfor %}
                    </i>
                </p>
            {% endfor %}
          </div>
        </div>
      </div>
      
      {% include side.html %}

    </div>
  </div>
</section>
	
{% include footer.html %}
</body>
</html>