/* Custom Stylesheet for DEBS. */

/* General style classes */
.justify {
    text-align: justify;
}

#logo {
    padding-top: 8px;
    width: 200px;
}

@media (max-width: 767px) {
    #logo {
        padding-top: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #logo {
        padding-top: 12px;
        width: 150px;
    }
}

/* Template override */
header .navbar-default .navbar-nav li a {
    font-size: 13px;
}

/* Owl carousel override */
.owl-centered .owl-wrapper {
    display: table !important;
}
.owl-centered .owl-wrapper .owl-item {
    display: table-cell;
    float: none;
    vertical-align: middle;
}
.owl-centered .owl-wrapper .owl-item div {
    text-align: center;
}
