/* Custom Stylesheet for DEBS. */

/* General style classes */
.justify {
    text-align: justify;
}

#logo {
    padding-top: 8px;
    width: 200px;
}

@media (max-width: 767px) {
    #logo {
        padding-top: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #logo {
        padding-top: 12px;
        width: 150px;
    }
}

#feature {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url('/img/campus.jpg');
    background-attachment: fixed;
    background-position: 50%;
    padding-bottom: 0;
    padding-top: 0;
}

#feature-text {
    backdrop-filter: blur(4px);
    border-left: 6px solid white;
    border-right: 6px solid white;
    -webkit-backdrop-filter: blur(4px);
    padding-bottom: 100px;
    padding-top: 100px;
}

#feature h2, #feature p {
    color: lightgrey;
}

/* Template override */
header .navbar-default .navbar-nav li a {
    font-size: 13px;
}

#slider {
    background-image: url('/img/neuchatel/cvincentbourrut-neuchatel_2000.jpg');
    padding-bottom: 100px;
    padding-top: 100px;
}

@media (max-width: 991px) {
    #slider {
        background-attachment: initial;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    #slider .block p, #slider .block p1, #slider .block p2 {
        font-size: 20px;
    }

    #slider .block p {
        letter-spacing: 2px;
    }
}

#global-header {
    background-image: url('/img/neuchatel/cvincentbourrut-neuchatel-74a2631-rvb_2000.jpg');
    background-position: 100% -430px;
}

footer {
    padding: 0;
    padding-bottom: 10px;
}

footer p {
    color: #333;
}

/* Owl carousel override */
.owl-centered .owl-wrapper {
    display: table !important;
}
.owl-centered .owl-wrapper .owl-item {
    display: table-cell;
    float: none;
    vertical-align: middle;
}
.owl-centered .owl-wrapper .owl-item div {
    text-align: center;
}
