---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>VENUE INFORMATION</title>
  {% include head-tags.html %}
</head>

<body>

  {% include header.html %}
  {% include slider-regular-page.html title="VENUE INFORMATION" %}

  <section id="venue-information">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="block">
            <!-- <div>

              <h1>Overview of Campus LyonTech-la Doua</h1>
            
              <p>
                LyonTech-la Doua campus is one of Lyon's leading research centers with more than 1 600 researchers 
                working in the domains of mathematics, physics, chemistry, biology, and computer science and it’s the 
                largest university center in Lyon. It is situated north of Villeurbanne (a city in the metropolitan area of Lyon),
                close to the Parc de la Tête d’Or, and it is easily accessible with public transportation.


              </p>
              <p>
                  <a href="../img/lyon/unimail_location.jpg" target="_blank"><img src="../img/lyon/unimail_location.jpg" alt="An overview of the campus." /></a>
              </p>
          </div>
          <div>

            <h1>Conference Facilities</h1>

            <p>The conference will be held in the <a href="https://goo.gl/maps/ixVAanTknsocxebG6" target="_blank">library Marie Curie 
              of INSA Lyon</a>. The address is <i>31 Av. Jean Capelle O, 69100 Villeurbanne, France</i>. </p>
            <p>
              <a href="../img/lyon/bib.jpg" target="_blank"><img src="../img/lyon/bib.jpg" alt="The Marie Curie library of INSA Lyon" /></a>
            </p>

            <h2 class="anchor" id="plan">Floor Plan</h1>
            <p>Rooms are TD201, 202, 203, 204, 205 (second floor) and the Amphi Émilie du Châtelet de (ground floor). In the following the floor plan.</p>
            <p>
              <a href="../img/library_floor.png" target="_blank"><img src="../img/library_floor.png" alt="Floor Plan of the Marie Curie Library." /></a>
            </p>

          </div>
          <div id="galadinner">

            <h1>Gala Dinner</h1>

            <p>The Gala Dinner will be hosted by the <a href="https://maps.app.goo.gl/XvSiUa93wPdXagf26" target="_blank">"La Maison" Restaurant</a>, located in one of the nicest part of the city near "La Confluence". The address is <i>4 Rue Jonas Salk, 69007 Lyon, France</i>. </p>
            <p>
              <a href="../img/lyon/bib.jpg" target="_blank"><img src="../img/rest.jpg" alt="La Maison Restaurant" /></a>
            </p>

          </div> -->

            <div>

              <h1>Travel Information</h1>

              <h2>Reaching Gothenburg</h2>

              <p>By plane:</p>
              <ul>
                <li><b>Gothenburg Landvetter Airport</b> is conveniently located close to the center. For more travel
                  information visit <a href="https://www.swedavia.com/landvetter/" target="_blank"
                    rel="noopener noreferrer">https://www.swedavia.com/landvetter/</a></li>
                <li>From Landvetter airport to the city center:</li>
                <ul>
                  <li>Airport buses - Flygbussarna</li>
                  <ul>
                    <li>It takes approximately 30 minutes to travel between the Landvetter airport and the city
                      center.</li>
                    <li>The bus stop by the central station is called “Nils Ericson Terminalen (Göteborg C)”.</li>
                    <li>You always buy the cheapest ticket online in advance on the Flygbussarna website or in the
                      Flygbussarna app. You can also buy the ticket in a ticket machine or on board the bus (card
                      payment
                      only, no cash)</li>
                    <li>For up-to-date information on prices and options please visit <a href="www.flygbussarna.se"
                        target="_blank" rel="noopener noreferrer">www.flygbussarna.se</a></li>
                  </ul>
                  <li>Airport Taxi</li>
                  <ul>
                    <li>Costs approximately SEK 500-600 to/from Landvetter Airport. <b>Ask for a fixed price!</b>
                    </li>
                    <li>The driver should have a taxi ID card clearly displayed in the vehicle. Service is included
                      in the taximeter price. Avoid unlicensed taxis.</li>
                    <li>We recommend:</li>
                    <ul>
                      <li><a href="https://www.taxigoteborg.se/en" target="_blank" rel="noopener noreferrer">Taxi
                          Göteborg</a>: +46 (0)31 650 00</li>
                      <li><a href="https://www.taxikurir.se/goteborg" target="_blank" rel="noopener noreferrer">Taxi
                          Kurir</a>: +46 (0)31 27 27 27</li>
                    </ul>
                  </ul>
                </ul>
              </ul>
            </div>

          </div>
        </div>

        {% include side.html %}

      </div>
    </div>
  </section>

  {% include footer.html %}
</body>

</html>