---
# this is an empty front matter
---
<!DOCTYPE html>
<html>
<head>
<title>VENUE INFORMATION</title>
{% include head-tags.html %}
</head>
<body>

{% include header.html %}
{% include slider-regular-page.html title="VENUE INFORMATION" %}

<section id="venue-information">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="block">
          <div>
            <h1>Overview of the UniMail building surroundings</h1>
            <p>
                The <a href="https://goo.gl/maps/RGpmfJksqCPL75Er8?coh=178573&entry=tt">UniMail building</a> of the University of Neuchâtel is hosting DEBS'23.<br />
                The address is <i>Rue Emile-Argand 11, 2000 Neuchâtel, Switzerland</i>.
            </p>
            <p>
                <a href="../img/neuchatel/unimail_location.jpg" target="_blank"><img src="../img/neuchatel/unimail_location.jpg" alt="The location of the UniMail building" /></a>
            </p>

            <h1>Joining DEBS by train 🚅</h1>
            <p>
                Neuchâtel is well connected to the European train network. It is within 4 hours from Paris with the TGV. Train schedules can be obtained from the <a href="https://www.sbb.ch/en/home.html" target="_blank">Swiss Federal Railways</a> web site. There are no reservations for Swiss trains. The network is very dense and the trains are frequent. Generally there is at least one train every hour between major cities. You have to buy the ticket before you board the train. You have to pay the full price, the half-price requires the purchase of a specific <a href="https://www.sbb.ch/en/travelcards-and-tickets/railpasses/half-fare-travelcard.html" target="_blank">half-price card</a>. For those arriving by plane to Geneva or Zürich, there are direct train connections between the airports themselves and Neuchâtel.
            </p>
            <p>
                The train station is <a href="https://goo.gl/maps/bRbZQvEcSk39s2v59?coh=178573&entry=tt">Neuchâtel</a>.
                From this location, it takes approximately 20 minutes to reach the UniMail building.
            </p>
            <h1>Joining DEBS by plane ✈️</h1>
            <p>
                Neuchâtel is close to the following airports:
            </p>
            <li>
                <a href="https://www.gva.ch/en/" target="_blank">Geneva airport</a> [1h20 by direct train]: GVA is a main hub of <a href="https://www.easyjet.com/en/" target="_blank">EasyJet</a> (approximately 75 routes).
            </li>
            <li>
                <a href="https://www.flughafen-zuerich.ch/en/passengers">Zürich Airport</a> [1h50 by direct train]: ZRH is the largest airport in Switzerland with connections to many European and intercontinental destination.
            </li>
            <li>
                The <a href="http://www.euroairport.com/en/">EuroAirport Basel, Mulhouse, Freiburg</a> [1h50 via Basel] is also an EasyJet hub at a distance comparable to that of Geneva. A direct bus connects the airport to the Basel train station.
            </li>
            <h1>Joining DEBS by car 🚗</h1>
            <p>
                It is possible to come by car, taking into account the following two points:
            </p>
            <li>
                If you wish to use the Swiss motorways, you have to purchase a <a href="https://www.bazg.admin.ch/bazg/en/home/services/services-private/strassenabgaben-private/vignette-autobahngebuehren.html">sticker</a> that costs worth 40 CHF (42 EUR) and is sold at service stations and at the border crossing.
            </li>
            <li>
                A <a href="https://goo.gl/maps/UmSH5R69z2tGVFuZ6?coh=178573&entry=tt">parking lot</a> is available next to the conference building of the university. The parking meter accepts Visa/Mastercard credit cards and Swiss coins.
            </li>
          </div>
        </div>
      </div>
      
      {% include side.html %}

    </div>
  </div>
</section>
	
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            
          </ul>
        </div>
        <ul class="list-inline mb-20">
          <li class="list-inline-item">Follow us:</li>
          
          <li class="list-inline-item"><a href="https://twitter.com/ACM_DEBS"><i class="fa fa-twitter"></i></a></li>
          
          <li class="list-inline-item"><a href="https://www.facebook.com/ACM.DEBS"><i class="fa fa-facebook"></i></a></li>
          
          <li class="list-inline-item"><a href="https://www.linkedin.com/groups/4747505/"><i class="fa fa-linkedin"></i></a></li>
          
        </ul>
        {% include copyright.html %}
      </div>
    </div>
  </div>
</footer>
{% include js-tags.html %}
</body>
</html>