---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>VENUE INFORMATION</title>
{% include head-tags.html %}
</head>
<body>

{% include header.html %}
{% include slider-regular-page.html title="VENUE INFORMATION" %}

<section id="venue-information">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="block">
          <div>

              <h1>Overview of Campus LyonTech-la Doua</h1>
            
              <p>
                LyonTech-la Doua campus is one of Lyon's leading research centers with more than 1 600 researchers 
                working in the domains of mathematics, physics, chemistry, biology, and computer science and it’s the 
                largest university center in Lyon. It is situated north of Villeurbanne (a city in the metropolitan area of Lyon),
                close to the Parc de la Tête d’Or, and it is easily accessible with public transportation.


                  <!-- The <a href="https://goo.gl/maps/RGpmfJksqCPL75Er8?coh=178573&entry=tt" target="_blank">UniMail building</a> of the University of Neuchâtel is hosting DEBS'23.<br /> -->
                  <!-- The address is <i>Rue Emile-Argand 11, 2000 Neuchâtel, Switzerland</i>. -->
              </p>
              <p>
                  <a href="../img/lyon/unimail_location.jpg" target="_blank"><img src="../img/lyon/unimail_location.jpg" alt="An overview of the campus." /></a>
              </p>
          </div>
          <div>

            <h1>Conference Facilities</h1>

            <p>The conference will be held in the <a href="https://goo.gl/maps/ixVAanTknsocxebG6" target="_blank">library Marie Curie 
              of INSA Lyon</a>. The address is <i>31 Av. Jean Capelle O, 69100 Villeurbanne, France</i>. </p>
            <p>
              <a href="../img/lyon/bib.jpg" target="_blank"><img src="../img/lyon/bib.jpg" alt="The Marie Curie library of INSA Lyon" /></a>
            </p>

          </div>
          <div id="galadinner">

            <h1>Gala Dinner</h1>

            <p>The Gala Dinner will be hosted by the <a href="https://maps.app.goo.gl/XvSiUa93wPdXagf26" target="_blank">"La Maison" Restaurant</a>, located in one of the nicest part of the city near "La Confluence". The address is <i>4 Rue Jonas Salk, 69007 Lyon, France</i>. </p>
            <p>
              <a href="../img/lyon/bib.jpg" target="_blank"><img src="../img/rest.jpg" alt="La Maison Restaurant" /></a>
            </p>

            <!-- <h1>Location of rooms in the building</h1>
            <p>
              The main part of our conference will take place in the Louis-Guillaume Auditorium (ALG), located on the <b>second floor</b> of the central building.
              On the map below, this area is referred as <b>F</b> (room number F200).
            </p>
            <p>
              We are also hosting the <i>Poster, Wine & Cheese</i> session, located on the <b>first floor</b>, on the other side of the building from the auditorium.
              On the map below, this area is referred as <b>T</b> (room number T103).
            </p>
            <p>
              <img src="/img/PlanUniMail.png" alt="UniMAIL plan" />
            </p>

            <h1>Joining DEBS by train 🚅</h1>
            <p>
                Neuchâtel is well connected to the European train network. It is within 4 hours from Paris with the TGV. Train schedules can be obtained from the <a href="https://www.sbb.ch/en/home.html" target="_blank">Swiss Federal Railways</a> web site. There are no reservations for Swiss trains. The network is very dense and the trains are frequent. Generally there is at least one train every hour between major cities. You have to buy the ticket before you board the train. You have to pay the full price, the half-price requires the purchase of a specific <a href="https://www.sbb.ch/en/travelcards-and-tickets/railpasses/half-fare-travelcard.html" target="_blank">half-price card</a>. For those arriving by plane to Geneva or Zürich, there are direct train connections between the airports themselves and Neuchâtel.
            </p>
            <p>
                The train station is <a href="https://goo.gl/maps/bRbZQvEcSk39s2v59?coh=178573&entry=tt" target="_blank">Neuchâtel</a>.
                From this location, it takes approximately 20 minutes to reach the UniMail building.
            </p>
            <h1>Joining DEBS by plane ✈️</h1>
            <p>
                Neuchâtel is close to the following airports:
            </p>
            <li>
                <a href="https://www.gva.ch/en/" target="_blank">Geneva airport</a> [1h20 by direct train]: GVA is a main hub of <a href="https://www.easyjet.com/en/" target="_blank">EasyJet</a> (approximately 75 routes).
            </li>
            <li>
                <a href="https://www.flughafen-zuerich.ch/en/passengers" target="_blank">Zürich Airport</a> [1h50 by direct train]: ZRH is the largest airport in Switzerland with connections to many European and intercontinental destination.
            </li>
            <li>
                The <a href="http://www.euroairport.com/en/" target="_blank">EuroAirport Basel, Mulhouse, Freiburg</a> [1h50 via Basel] is also an EasyJet hub at a distance comparable to that of Geneva. A direct bus connects the airport to the Basel train station.
            </li>
            <h1>Joining DEBS by car 🚗</h1>
            <p>
                It is possible to come by car, taking into account the following two points:
            </p>
            <li>
                If you wish to use the Swiss motorways, you have to purchase a <a href="https://www.bazg.admin.ch/bazg/en/home/services/services-private/strassenabgaben-private/vignette-autobahngebuehren.html" target="_blank">sticker</a> that costs worth 40 CHF (42 EUR) and is sold at service stations and at the border crossing.
            </li>
            <li>
                A <a href="https://goo.gl/maps/UmSH5R69z2tGVFuZ6?coh=178573&entry=tt" target="_blank">parking lot</a> is available next to the conference building of the university. The parking meter accepts Visa/Mastercard credit cards and Swiss coins.
            </li> -->
          </div>
        </div>
      </div>
      
      {% include side.html %}

    </div>
  </div>
</section>
	
{% include footer.html %}
</body>
</html>