---
# this is an empty front matter
---
<!DOCTYPE html>
<html>

<head>
  <title>DEBS 2023</title>
  {% include head-tags.html %}
</head>

<body>

  {% include header.html %}
  {% include slider-home-page.html %}

  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <div class="block">
            <div class="section-title">
              <h1>Conference Program Now Available! 📃</h1>
              <p>
                We are thrilled to announce the release of our conference program, featuring a detailed breakdown of all the paper presentations accepted for this event.
                Visit our <a href="/program-schedule/">program schedule</a> page to delve into it!
              </p>

              <h1>Sign Up Today! 📬</h1>
              <p>
                The 17th edition of DEBS is excited to announce the opening of online registrations.
                Explore the <a href="/accepted-papers/">accepted papers</a> and seize the opportunity to <a href="/registration/">register</a> for the conference!
              </p>
              
              <h1>Venue Information</h1>
              <p>
                The 2023 DEBS Conference will be held in the UniMail Building, Faculty of Science,
                University of Neuchâtel in Switzerland.
                Check out how to reach the venue by train, plane or car on the <a href="/venue-information/">venue information</a> page.
              </p>

              <h1>Objective</h1>
              <p>
                The ACM International Conference on Distributed and Event‐Based Systems (DEBS) is a premier venue for
                academia and industry to discuss cutting-edge research of event-based computing related to Big Data,
                AI/ML, IoT, and Distributed Systems in general. DEBS 2023 will be a forum dedicated to the dissemination
                of original research, the discussion of practical insights, and the reporting of experiences relevant to
                distributed and event‐based systems.
              </p>

              <h1>Scope</h1>

              <p>
                The DEBS conference covers topics in distributed and event-based computing for a wide
                range of application domains and computing environments. The conference aims at
                presenting novel solutions for collecting, detecting, processing, analyzing and
                responding to events through distributed middleware and platforms.
              </p>

              <p>
                Topics covered by the conference include, but are not limited to:
              </p>

              <p>
                <b>Models, architectures and paradigms</b>: Complex event processing, event-driven
                architectures, trustworthy event-based systems, real-time analytics, intelligent event
                processing, event processing in big and fast data, data stream processing, security and
                encryption in stream processing, complex event forecasting, in-network processing,
                logic-based complex event recognition, online relational learning, distributed event
                pattern learning, event correlation, and pattern languages.
              </p>

              <p>
                <b>Systems and software</b>: Distributed data processing, distributed programming,
                federated event-based systems, AI/ML for event processing, information-centric
                networking, software-defined networking, security, reliability and resilience,
                distributed ledger and blockchains, programmable hardware, energy management, and green
                computing as well as cloud, fog, ubiquitous and mobile computing.
              </p>

              <p>
                <b>Applications</b>: Use cases, requirements, and applications of distributed and
                event-based systems in various domains including Internet-of-Things, life sciences,
                moving object applications, smart cities, cyber-physical systems, sensor networks,
                social networking, multimedia analytics, finance, healthcare and logistics, computer and
                network security, smart contracts, and blockchains. Also, relevant topics span
                enterprise-level computing, including enterprise application integration, real-time
                enterprises, event-based business process management, and support for enterprises to
                respond in a timely fashion to changing situations.
              </p>

              <h1 id="diversity">Diversity and Inclusion</h1>
              <p>The DEBS community joins an integrated effort to promote diversity and inclusion in all
                aspects of our professional activities. DEBS 2023 participates in this effort alongside EDBT/ICDT, MDM,
                SIGMOD, VLDB, SoCC, and ICDE, to celebrate the diversity in our community and welcome everyone
                regardless of age, sex, gender identity, race, ethnicity, socioeconomic background, country of origin,
                religion, sexual orientation, physical ability, education, work experience, etc. It also welcomes people
                and opinions of all political persuasions, as long as they abide by the ACM policy against hate speech
                and harassment. </p>

              <p>For more information visit the dedicated website: <a
                  href="https://dbdni.github.io">https://dbdni.github.io</a>.</p>

              <p>All submissions are encouraged to be prepared with D&I in mind following the
                suggestions in submission guidelines. If you have any comments, questions, suggestions, or complaints,
                please email the DEBS Diversity and Inclusion Chairs (TBA)</p>

              <h1 id="chair">General Chair</h1>
              <p>
                {% for chair in site.data.chairs.general_chairs %}
                <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
                {% endfor %}
              </p>
            </div>
          </div>
        </div>

        {% include side.html %}

      </div>

    </div>
    </div>
  </section>

  <section id="feature">
    <div class="container">
      <div class="row">
        <div id="feature-text" class="col-md-6 col-md-offset-0">
          <h2 class="text-uppercase">University of Neuchatel</h2>
          <p>
            The conference will be hosted by the University of Neuchâtel, situated at the heart of the French-speaking
            region of Switzerland. Arts and Humanities, Science, Law, and Economics and Business: with four faculties,
            the University of Neuchâtel is the smallest non-specialist university in Switzerland. It offers a far
            broader range of programmes than other similarly sized universities, while avoiding the anonymity and
            overfilled auditoria which characterise larger establishments. With fewer than 5,000 students, each of whom
            benefits from genuine connections with the teaching staff, the UniNE is an institution where people get to
            know one another and exchange ideas.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="clients-logo-section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6"><a href="https://www.acm.org" target="_blank"><img src="img/clients/acm_logo.svg"
              alt="ACM"></a></div>
        <div class="col-md-3 col-sm-6"><a href="https://www.sigsoft.org" target="_blank"><img
              src="img/clients/sigsoft_logo.png" alt="Sigsoft"></a></div>
        <div class="col-md-3 col-sm-6"><a href="https://sigmod.org" target="_blank"><img
              src="img/clients/sigmod_logo.png" alt="Sigmod"></a></div>
        <div class="col-md-3 col-sm-6"><a href="https://www.cuso.ch/" target="_blank"><img
              src="img/clients/cuso_logo.png" alt="CUSO"></a></div>
        <div class="col-md-12 col-sm-6"><a href="https://www.unine.ch/iiun" target="_blank"><img
              src="img/clients/unine_cs_logo.png" alt="University of Neuchâtel, Computer Science Institute"></a></div>

        {% for sponsor in site.data.sponsors.gold_sponsors %}
        <div class="col-md-4 col-sm-6"><a href="{{sponsor.url}}" target="_blank"><img src="{{sponsor.logo}}"
              alt="{{sponsor.name}}"></a></div>
        {% endfor %}
        {% for sponsor in site.data.sponsors.silver_sponsors %}
        <div class="col-md-4 col-sm-6"><a href="{{sponsor.url}}" target="_blank"><img src="{{sponsor.logo}}"
              alt="{{sponsor.name}}"></a></div>
        {% endfor %}
        {% for sponsor in site.data.sponsors.bronze_sponsors %}
        <div class="col-md-4 col-sm-6"><a href="{{sponsor.url}}" target="_blank"><img src="{{sponsor.logo}}"
              alt="{{sponsor.name}}"></a></div>
        {% endfor %}
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-manu">
            <ul>

            </ul>
          </div>
          <ul class="list-inline mb-20">
            <li class="list-inline-item">Follow us:</li>

            <li class="list-inline-item"><a href="https://twitter.com/ACM_DEBS"><i class="fa fa-twitter"></i></a></li>

            <li class="list-inline-item"><a href="https://www.facebook.com/ACM.DEBS"><i class="fa fa-facebook"></i></a>
            </li>

            <li class="list-inline-item"><a href="https://www.linkedin.com/groups/4747505/"><i
                  class="fa fa-linkedin"></i></a></li>

          </ul>
          {% include copyright.html %}
        </div>
      </div>
    </div>
  </footer>
  {% include js-tags.html %}
</body>

</html>