---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>CALL FOR TUTORIAL</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="CALL FOR TUTORIALS" %}

    <section id="call-for-tutorials">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="block">
                        <div>
                            <h1>Objective</h1>

                            <p>
                                The ACM International Conference on Distributed and Event‐Based Systems (DEBS) is a premier venue for academia and industry to discuss cutting-edge research in distributed and event-based computing and data processing. DEBS 2025 will be a forum dedicated to disseminating original research, discussing practical insights, and reporting experiences relevant to distributed and event‐based systems.
                            </p>

                        </div>
                        <div>
                            
                            <h1>Tutorials</h1>

                            <p>
                                DEBS 2025 will host a one-day, multi-track tutorial program to provide independent instruction on topics related to distributed and event-based computing, both fitting for the research audience and an industrial audience. We solicit both <b>long (2 sessions)</b> and <b>short (1 session)</b> tutorials. The topic should relate to event-based systems and methods. Submissions can target a particular distributed system technology or a more general problem area of interest to the DEBS community, i.e., middleware, architectures, and design approaches to collecting, detecting, processing, and responding to events. Tutorials on emerging enterprise-level infrastructures and/or popular (open source) software platforms are also highly welcome. Yet, please note that no marketing or product-specific tutorials will be accepted. Tutorial levels may be introductory, intermediate, or advanced.
                            </p>

                        </div>
                        <div>
                            
                            <h1>Workshops</h1>

                            <p>
                                We seek proposals for workshops on any topics likely to be of interest to the DEBS community, which include (but are not limited to):
                                <ul class="nested-list">
                                    <li>Models, Architectures, and Paradigms: Event-driven architectures, real-time analytics, complex event processing, event processing in big data, stream processing, rule-based systems, logic-based event recognition, event correlation, and pattern languages.</li>
                                    <li>Middleware infrastructures: Distributed data processing, distributed programming, federated event-based systems, information-centric networking, fault tolerance, reliability, availability, and scalability, as well as cloud, peer-to-peer, ubiquitous, and mobile computing.</li>
                                    <li>Applications, Experience, and Requirements: Use cases and applications of distributed and event-based systems in various domains, including Internet of things, cyber-physical systems, sensor networks, network monitoring, online machine learning, online graph algorithms, smart cities, smart grids, finance, healthcare, transportation, and logistics. Also, relevant topics span enterprise-level computing, including enterprise application integration, real-time enterprises, event-based business process management, and support for enterprises to respond in a timely fashion to changing situations.</li>
                                </ul>
                            </p>

                        </div>
                        <div>
                            
                            <h1>Proposal submission structure</h1>

                            <p>
                                A tutorial/workshop proposal <b>should be 2-4 pages</b> and should include:
                                <ul class="nested-list">
                                    <li>Proposal type: Tutorial / Workshop</li>
                                    <li>Proposed title</li>
                                    <li>An indication of long or short session (full day vs half day)</li>
                                    <li>Organizers' information and contacts</li>
                                    <li>Abstract</li>
                                    <li>Proposed structure, e.g., talks, panels, poster sessions, hands-on session</li>
                                    <li>A brief discussion about why the topic is relevant to the DEBS community</li>
                                    <li>A description of the expected outcomes for attendees</li>
                                    <li>Target audience: The assumed background of attendees</li>
                                    <li>The name, affiliation, email, and brief biography of the speaker(s) (if any)</li>
                                    <li>References</li>
                                </ul>
                            </p>

                        </div>
                        <div>
                            
                            <h1>Accepted Proposals</h1>

                            <p>
                                Proposers of accepted tutorials or workshops are given the opportunity to submit a paper to be published in the DEBS Proceedings. The content of the paper must be on the material covered by the tutorial/workshop and must not exceed 4 pages. Submitted papers will be reviewed prior to publication and may be rejected for publication if either the technical quality of the paper is insufficient or the content of the paper does not match the content of the event. Note that the rejection of a tutorial/workshop paper does not imply a rejection of the tutorial/workshop itself. Tutorial/workshop papers will be published in the conference proceedings as part of the ACM International Proceedings Series and will be disseminated through the ACM Digital Library.
                            </p>

                        </div>
                        
                        <div>
                            <h1>Important Dates</h1>
                            <li>
                                Tutorial Proposal Submission: <b>February 28, 2025</b>
                            </li>
                            <li>
                                Author Notification for Tutorials: <b>March 14th, 2024</b>
                            </li>
                            <li>
                                Camera Ready Deadline: <b>May 2nd, 2024</b>
                            </li>
                            <li>
                                Conference: <b>June 10th – 13th, 2024</b>
                            </li>
                        </div>

                        <div>
                            <h1>Submissions</h1>
                            <p>
                                Submissions should be formatted in the ACM proceedings style (two-column “sigconf” from <a href="https://www.acm.org/publications/proceedings-template">https://www.acm.org/publications/proceedings-template</a>, font size set to 10 pt) and submitted as PDF file via <a href="https://cmt3.research.microsoft.com/DEBS2025/Track/4/Submission/Create">Microsoft CMT</a>.
                            </p>
                        </div>

                        <div>
                            <h1>Tutorial and Workshops Chairs</h1>
                            <p>
                                <li>
                                    Vasiliki Kalavri (Boston University, USA)
                                </li>
                                <li>
                                    Alessandro V. Papadopoulos (Mälardalen University, Sweden & University of Málaga, Spain) 
                                </li>
                            </p>
                        </div>

                    </div>
                </div>

                {% include side.html %}
            </div>
    </section>

    {% include footer.html %}
</body>
</html>
