---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>CALL FOR TUTORIAL</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="CALL FOR TUTORIALS" %}

    <section id="call-for-tutorials">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="block">
                        <div>
                            <h1>Objective</h1>

                            <p>
                                Over the past decade, the ACM International Conference on Distributed and Event‐Based Systems 
                                (DEBS) has become the premier venue for academia and industry to discuss cutting-edge research 
                                of event-based computing related to Big Data, AI/ML, IoT, and Distributed Systems. The objectives 
                                of the 2024 ACM International Conference on Distributed and Event‐Based Systems (DEBS 2024) are 
                                to provide a forum dedicated to the dissemination of original research, the discussion of 
                                practical insights, and the reporting of experiences relevant to distributed systems and 
                                event‐based computing.
                            </p>

                            <p>
                                DEBS 2024 will host a one-day, multi-track tutorial program to provide independent instruction 
                                on topics related to distributed and event-based computing, both fitting for the research audience 
                                and to an industrial audience. We solicit both long (2 sessions) and short (1 session) tutorials.
                                The topic should relate to event-based systems and methods. Submissions can target a particular 
                                distributed system technology or a more general problem area of interest to the DEBS community 
                                i.e., middleware, architectures and design approaches on collecting, detecting, processing, and 
                                responding to events. Tutorials on emerging enterprise-level infrastructures and/or popular 
                                (open-source) software platforms are also highly welcomed. Yet, please note that no marketing 
                                or product-specific tutorials will be accepted. Tutorial levels may be introductory, intermediate, 
                                or advanced.
                            </p>

                        </div>
                        <!-- <div>
                            <h1>Participation</h1>

                            <p>
                                Participation in the DEBS 2024 Grand Challenge consists of three steps: (1) registration, (2)
                                iterative solution submission, and (3) paper submission.
                            </p>

                            <p>
                                The first step is to pre-register your submission by sending an abstract at the central DEBS 2024
                                conference management system in the "Grand Challenge Track" and send an email to one of the
                                Grand Challenge Co-Chairs (see <a href="https://2024.debs.org/organizing-committee/">https://2024.debs.org/organizing-committee/</a>).
                            </p>
                            <p>      
                                Solutions to the challenge, once developed, must be submitted to the evaluation plaVorm
                                (details will be available shortly) in order to get it benchmarked in the challenge. The evaluation
                                platform provides detailed feedback on performance and allows to update the solution in an
                                iterative process. A solution can be continuously improved until the challenge closing date.
                            </p>
                            <p>
                                The last step is to upload a short paper (maximum 6 pages) describing the final solution via the
                                central DEBS 2024 conference management system. All papers will be reviewed by the DEBS
                                Grand Challenge Committee to assess the merit and originality of submitted solutions. Accepted
                                papers will be included in the DEBS 2024 proceedings and will be presented during the poster
                                session at the conference.
                            </p>

                            
                        </div> -->

                        <div>
                            <p>A tutorial proposal must not exceed 4 pages should include:
                                <li>
                                    The proposed title
                                </li>
                                <li>
                                    Abstract
                                </li>
                                <li>
                                    A structured description of the contents
                                </li>
                                <li>
                                    An indication of long or short session (full day vs half day)
                                </li>
                                <li>
                                    A brief discussion about why the tutorial topic is relevant to the DEBS community
                                </li>
                                <li>
                                    A description of the expected outcomes for attendees
                                </li>
                                <li>
                                    Target audience: The assumed background of attendees
                                </li>
                                <li>
                                    The name, affiliation, email and brief biography of the speaker(s)
                                </li>
                                <li>
                                    Any prior experience for the speaker(s) giving this or related tutorial
                                </li>
                                <li>
                                    References
                                </li>
                            </p>
                        </div>

                        <div>
                            <h1>Accepted Proposals</h1>

                            <p>
                                Proposers of accepted tutorials are given the opportunity to submit a tutorial paper. 
                                The content of a tutorial paper must be on the material covered by the tutorial and must 
                                not exceed 4 pages. Submitted tutorial papers will be reviewed prior to publication, and may 
                                be rejected for publication if either the technical quality of the paper is insufficient or 
                                the content of the paper does not match the content of the tutorial. Note that the rejection
                                of a tutorial paper, does not imply a rejection of the tutorial itself. Tutorial papers will 
                                be published in the conference proceedings as part of the ACM International Proceedings Series 
                                and will be disseminated through the ACM Digital Library.
                            </p>

                            <p>
                                Each accepted tutorial will be listed on the website, 
                                please provide a short description to promote the tutorial on the website. 
                            </p>

                        </div>

                        <div>
                            <h1>Important Dates</h1>
                            <li>
                                Tutorial Proposal Submission: <b>April 8th, 2024</b>
                            </li>
                            <li>
                                Author Notification for Tutorials: <b>April 26th, 2024</b>
                            </li>
                            <li>
                                Camera Ready Deadline: <b>May 31st, 2024</b>
                            </li>
                            <li>
                                Conference: <b>June 25th – 28th, 2024</b>
                            </li>
                        </div>

                        <div>
                            <h1>Submissions</h1>
                            <p>
                                Submissions must be in the ACM format for conference proceedings. 
                                Only PDF documents will be accepted. Authors should make use of the <a href="https://www.acm.org/special-interest-groups">ACM SIGS Proceedings templates</a>. 
                                Proposal submissions should be done via EasyChair using this link 
                                <a href="https://easychair.org/conferences/?conf=debst24">https://easychair.org/conferences/?conf=debst24</a>. 
                            </p>
                        </div>

                        <div>
                            <h1>Tutorial Chairs</h1>
                            <p>
                                <li>
                                    Pieter Bonte (KU Leuven, Belgium)
                                </li>
                                <li>
                                    Andra Ionescu (TU Delft, The Netherlands) 
                                </li>
                            </p>
                        </div>

                    </div>
                </div>

                {% include side.html %}
            </div>
    </section>

    {% include footer.html %}
</body>
</html>
