---
# this is an empty front matter
---
<!DOCTYPE html>
<html>
<head>
<title>ORGANIZING COMMITTEE</title>
{% include head-tags.html %}
</head>
<body>

{% include header.html %}
{% include slider-regular-page.html title="ORGANIZING COMMITTEE" %}

<section id = "organizing-committee">
  <div class="container">
    <div class="row">

      <div class="col-md-9 col-sm-12">
        <div class="block">
          <div style="margin-bottom: 100px;">
            <h1>General Chair</h1>
            {% for chair in site.data.chairs.general_chairs %}
              <li class="justify">{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}

            <h1>PC Co-Chairs</h1>
            {% for chair in site.data.chairs.pc_chairs %}
              <li class="justify">{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}
			
            <h1>Finance Chairs</h1>
            {% for chair in site.data.chairs.finance_chairs %}
              <li class="justify">{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}

            <h1>Industry and Application Co-Chairs</h1>
            {% for chair in site.data.chairs.industry_chairs %}
              <li class="justify">{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}

            <h1>Grand Challenge Co-Chairs</h1>
            {% for chair in site.data.chairs.grand_challenge_chairs %}
              <li class="justify">{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}

            <h1>Tutorials/Workshop Co-Chairs</h1>
            {% for chair in site.data.chairs.tutorials_workshop_chairs %}
              <li class="justify">{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}

            <h1>Doctoral Symposium Co-Chairs</h1>
            {% for chair in site.data.chairs.doctoral_symposium_chairs %}
              <li class="justify">{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}

            <h1>Poster and Demo Co-Chairs</h1>
            {% for chair in site.data.chairs.poster_demo_chairs %}
              <li class="justify">{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}

						<h1>Diversity and Inclusion Co-Chairs</h1>
            {% for chair in site.data.chairs.diversity_chairs %}
              <li class="justify">{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}

            <h1>Publicity Co-Chairs</h1>
            {% for chair in site.data.chairs.publicity_chairs %}
              <li class="justify">{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}

            <h1>Proceeding Chair</h1>
            {% for chair in site.data.chairs.proceeding_chairs %}
              <li class="justify">{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}

						<h1>Web Co-Chairs</h1>
            {% for chair in site.data.chairs.web_chairs %}
              <li class="justify">{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}

          </div>
        </div>
      </div>

      {% include side.html %}

    </div>
  </div>
</section>






<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>

          </ul>
        </div>
        <ul class="list-inline mb-20">
          <li class="list-inline-item">Follow us:</li>

          <li class="list-inline-item"><a href="https://twitter.com/ACM_DEBS"><i class="fa fa-twitter"></i></a></li>

          <li class="list-inline-item"><a href="https://www.facebook.com/ACM.DEBS"><i class="fa fa-facebook"></i></a></li>

          <li class="list-inline-item"><a href="https://www.linkedin.com/groups/4747505/"><i class="fa fa-linkedin"></i></a></li>

        </ul>
        {% include copyright.html %}
      </div>
    </div>
  </div>
</footer>
{% include js-tags.html %}
</body>
</html>
