---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Best Paper Award</title>
  {% include head-tags.html %}
</head>

<body>

  {% include header.html %}
  {% include slider-regular-page.html title="BEST PAPER AWARD" %}

  <section id="acm-artifacts">
    <div class="container">
      <div class="row">

        <div class="col-md-8 col-sm-12">
          <div class="block">
            <div style="margin-bottom: 100px;">

              <div>
                <h2>Best Paper Award</h2><br>

                <p>The <b>DEBS 2026 Best Paper Award</b> recognizes the most
                outstanding research paper presented at the conference. The
                award honors a contribution that demonstrates scientific
                excellence, originality, technical depth, and the potential for
                significant impact on the field of distributed and event-based
                systems.</p>

                <p>This year's award was presented to <b>Ariane Ziehn, Finn
                    Glück, Philipp Emanuel Meran, Steffen Zeuch, and Volker
                    Markl</b> for their paper, <a href="https://doi.org/10.1145/3809481.3812615"><em>"KRAKEN: Joint Optimization
                    of Operator Placement and Communication for Distributed
                      Stream Processing."</em></a></p>

                <p>The awarded paper exemplifies the high standards of research,
                innovation, and technical excellence fostered by the DEBS
                  community.</p>

                <p>Congratulations to the authors!</p>

                <img src="/img/bestpaper.jpeg" width=100% height="auto">

              </div>

            </div>
          </div>
        </div>

        {% include side.html %}

      </div>
    </div>
  </section>

  {% include footer.html %}
</body>

</html>
