---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Opening words</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="OPENING WORDS" %}

    <section id="organizing-committee">
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-sm-12">
                    <div class="block">
                        <h1>Opening Words: Slides</h1>
                        <!-- <p>
                            Explore our introduction slides conveniently available below.
                        </p>
                        <div class="text-center">
                            <iframe
                                src="https://www.slideshare.net/slideshow/embed_code/key/AsCITbkGy4Dzps?hostedIn=slideshare&page=upload"
                                width="80%" height="400" frameborder="0" marginwidth="0" marginheight="0"
                                scrolling="no"></iframe>
                        </div> -->

                    </div>
                </div> 

                {% include side.html %}

            </div>
        </div>
    </section>

    {% include footer.html %}
</body>

</html>