---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>ACM AUXILIARY MATERIALS</title>
  {% include head-tags.html %}
</head>

<body>

  {% include header.html %}
  {% include slider-regular-page.html title="ACM AUXILIARY MATERIALS" %}

  <section id="acm-artifacts">
    <div class="container">
      <div class="row">

        <div class="col-md-8 col-sm-12">
          <div class="block">
            <div style="margin-bottom: 100px;">

              <div>
                <h1>Auxiliary Materials</h1>

                <p>
                  According to ACM, “Auxiliary Materials” refer to extra files not reviewed as part of the submitted contribution but which an author supplies as an additional resource for the reader. Examples include a data set used in the research for a paper, programs run on that data to derive the results, or a proof that is too long to be included within the allotted number of pages.  
                </p>

                <p>
                  <b>Please note</b>: During the review process, pages that exceed the limit of the respective track will be considered Auxiliary Material. These will not be formally reviewed but may be read at the reviewers' discretion. Also, these pages are not to be submitted as part of the Camera Ready version of each submission.
                </p>

                <p>
                  ACM will not take copyright for Auxiliary Material not reviewed nor part of the formally published work. However, ACM still needs permission from the owner to serve Auxiliary Materials and an agreement that the author abides by ACM terms when supplying the non-reviewed Auxiliary Material. This can be done when compiling the e-Rights form (Checking Part II) and saying YES to the terms, thus granting ACM permission to publish the Auxiliary Materials.
                </p>

              </div>

            </div>
          </div>
        </div>

        {% include side.html %}

      </div>
    </div>
  </section>

  {% include footer.html %}
</body>

</html>