---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>TUTORIAL SPEAKERS</title>
{% include head-tags.html %}
</head>
<body>

{% include header.html %}
{% include slider-regular-page.html title="TUTORIAL SPEAKERS" %}

  <section id = "tutorial-speakers">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="block">
						<div class="row">
							<div class="col-md-12">
								<h1>Tutorials</h1>
								<hr>
							</div>
							
							<div class="col-md-12" style="padding-top: 50px"></div>
							{% for tutorial in site.data.tutorials %}
							<div id="{{tutorial.anchor}}" class="col-md-12" style="margin-top: -100px; padding-top: 100px">
								<div>
									<div>
										<div class="col-md-3 mb-10">
											<img src={{tutorial.image}} width=100% height="auto">
										</div>
									</div>
									<div class="col-md-9">
										<div class="mb-10">
											<p style="color: #655E7A; font-size:30px;"><b>{{tutorial.firstname}} {{tutorial.lastname}}</b></p>
											<p style="font-size:20px;"><b>{{tutorial.affiliation}}</b></p>
											{% if tutorial.title %}
											<p style="font-size:18px;"><b>Tutorial title: {{tutorial.title}}</b></p>
											{% endif %}
											{% if tutorial.download %}
											<p><b><a href="{{tutorial.download}}" target="_blank">Download the slides</a></b></p>
											{% endif %}
										</div>
									</div>
									<div style="padding-bottom:50px;" class="col-md-12">
										{% if tutorial.abstract %}
										<p><b>Abstract</b></p>
										<p>{{tutorial.abstract}}</p>
										{% endif %}
										{% if tutorial.biography %}
										<p><b>Biography</b></p>
										<p>{{tutorial.biography}}</p>
										{% endif %}
										<hr>
										</div>
								</div>
							</div>
							{% endfor %}
							<!-- <p>To be posted.</p> -->
						</div>
          </div>
        </div>
		
		{% include side.html %}
				
      </div>
    </div>
  </section>
	
  {% include footer.html %}
</body>
</html>