<!-- Slider Start -->
<section id="slider" style="background-image: url('img/copenhagen/COLOURBOX53648947.jpg'),url('img/copenhagen/COLOURBOX53648947.jpg');background-position: center;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="block text-center">
                    <h1 class="animated fadeInUp text-uppercase">DEBS 2022</h1>
                    <p class="animated fadeInUp">16TH ACM INTERNATIONAL CONFERENCE ON DISTRIBUTED AND EVENT-BASED SYSTEMS</p>
                    <p1 class="animated fadeInUp">{{ site.data.dates.conference_dates }}</p1><br><br>
                    <p2 class="animated fadeInUp">Copenhagen, Denmark</p2><br><br>
                    <!--
                    <a class="btn btn-main btn-solid-border" href="#scope" >Conference Information</a>
                    -->
                </div>
            </div>
        </div>
    </div>
</section>