---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>PROGRAM SCHEDULE</title>
{% include head-tags.html %}
<link rel="stylesheet" href="/css/schedule.css" />
</head>
<body>

{% include header.html %}
{% include slider-regular-page.html title="PROGRAM SCHEDULE" %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="block">
            <h1>Program Schedule</h1>
            <p>All times are in Central Europe Summer Time (CEST)</p>

            <div class="scroll-container">
            <table class="sch">
                <thead>
                <tr>
                    <th class="sch bord"></th>
                    <th class="sch bord days">Tue, 25 June</th>
                    <th class="sch bord days">Wed, 26 June</th>
                    <th class="sch bord days">Thu, 27 June</th>
                    <th class="sch bord days">Fri, 28 June</th>
                </tr>
                </thead>
                <tbody>
                <tr class="sch">
                    <td class="sch quarter"><strong>8:00</strong></td>
                    <td class="sch" rowspan="4"></td>
                    <td class="sch reg" rowspan="4">Registration</td>
                    <td class="sch reg" rowspan="3">Registration</td>
                    <td class="sch reg" rowspan="4">Registration</td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>8:15</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>8:30</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>8:45</strong></td>
                    <td class="sch session" rowspan="1">Opening</a></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>9:00</strong></td>
                    <td class="sch reg" rowspan="6">Registration</td>
                    <!-- <td class="sch session" rowspan="3"><a href="#madness">Minute Madness</a></td> -->
                    <td class="sch session" rowspan="2">Opening</a></td>
                    <!-- <td class="sch keynote" rowspan="6"><a href="#keynote3">Keynote 2: Accelerating the performance of distributed stream processing systems with in-network computing</a></td> -->
                    <td class="sch keynote" rowspan="4"><a href="#keynote2">Keynote 2: Tyler Akidau</a></td>
                    <td class="sch keynote" rowspan="4"><a href="#keynote3">Keynote 3: Evangelia Kalyvianaki</a></td>
                    <!-- <td class="sch festival" rowspan="67">
                        <a href="#festival2">Privacy Reunion</a><br />
                        or<br />
                        <a href="#festival3">Festival P2P</a>
                    </td> -->
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>9:15</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>9:30</strong></td>
                    <td class="sch keynote" rowspan="4"><a href="#keynote1">Keynote 1: Volker Markl</a></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>9:45</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>10:00</strong></td>
                    <td class="sch reg" rowspan="2">Coffee Break</td>
                    <td class="sch reg" rowspan="2">Coffee Break</td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>10:15</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>10:30</strong></td>
                    <td class="sch session" rowspan="6"><a href="#tutorial1">Tutorial 1: Ulrich Part 1</a></td>
                    <td class="sch reg" rowspan="2">Coffee Break</td>
                    <td class="sch session" rowspan="6"><a href="#paper3">Session - Systems II</a></td>
                    <td class="sch session" rowspan="6"><a href="#tutorial2">Tutorials (Restate + NebulaStream Part 1)</a></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>10:45</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>11:00</strong></td>
                    <td class="sch session" rowspan="4"><a href="#paper1">Session - Systems I</a></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>11:15</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>11:30</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>11:45</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>12:00</strong></td>
                    <td class="sch reg" rowspan="6">Lunch</td>
                    <td class="sch reg" rowspan="6">Lunch</td>
                    <td class="sch reg" rowspan="6">Lunch</td>
                    <td class="sch reg" rowspan="6">Lunch</td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>12:15</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>12:30</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>12:45</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>13:00</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>13:15</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>13:30</strong></td>
                    <td class="sch session" rowspan="6"><a href="#tutorial1">Tutorial 1: Ulrich Part 1</a></td>
                    <td class="sch session" rowspan="6"><a href="#paper2">Session - Benchmarking</a></td>
                    <td class="sch session" rowspan="6"><a href="#paper4">Session - Potpourri</a></td>
                    <td class="sch session" rowspan="6"><a href="#tutorial3">Tutorial NebulaStream Part 2</a></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>13:45</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>14:00</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>14:15</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>14:30</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>14:45</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>15:00</strong></td>
                    <td class="sch reg" rowspan="2">Coffee Break</td>
                    <td class="sch reg" rowspan="2">Coffee Break</td>
                    <td class="sch reg" rowspan="2">Coffee Break</td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>15:15</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>15:30</strong></td>
                    <td class="sch special" rowspan="2"><a href="#phd">Sponsor Talk & Doctoral Symposium</a></td>
                    <td class="sch special" rowspan="4"><a href="#grandchallenge">Grand Challenge</a></td>
                    <td class="sch special" rowspan="4"><a href="#testoftime">Test of Time Award</a></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>15:45</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>16:00</strong></td>
                    <td class="sch special" rowspan="4"><a href="#poster1">Poster and Demos 1</a></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>16:15</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>16:30</strong></td>
                    <td class="sch special" rowspan="4"><a href="#poster2">Poster and Demos 2</a></td>
                    <td class="sch reg" rowspan="8">
                        <a href="#socialevent">Social event</a>
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>16:45</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>17:00</strong></td>
                    <td class="sch reg" rowspan="8">Reception</td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>17:15</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>17:30</strong></td>
                    <td class="sch" rowspan="12">
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>17:45</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>18:00</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>18:15</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>18:30</strong></td>
                    <td class="sch" rowspan="2"></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>18:45</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>19:00</strong></td>
                    <td class="sch" rowspan="5"></td>
                    <td class="sch reg" rowspan="5">
                        <a href="#galadinner">Gala Dinner</a>
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>19:30</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>20:00</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>20:30</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>21:00</strong></td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="schedule-day">
            <table class="sch">
                <thead>
                <tr>
                    <th class="sch day-header" colspan="2"><strong>Tuesday, 25 June 2024</strong></th>
                </tr>
                </thead>
                <tbody><tr class="sch">
                    <td class="sch detailed-time"><strong>Begin-End</strong></td>
                    <td class="sch"><strong>Subject</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch">09:00-10:30</td>
                    <td class="sch reg">Registration</td>
                </tr>
                <tr class="sch">
                    <td class="sch">10:30-12:00</td>
                    <td class="sch session">
                        <a class="anchor" id="tutorial2"></a>
                        <strong>Tutorial 1 (Part 1)</strong>
                        <ul class="sch">
                            <li>Putting the S back into IoT - Tutorial on Sensor and Actor Systems in Small Portable Ad-Hoc Networks<br />
                                <em><small>Ulrich Norbisrath (University of Tartu, Estonia)</small></em>
                                <br />
                                <a href="/tutorial-speakers/#tutorial1" target="_blank">more information</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">12:00-13:30</td>
                    <td class="sch reg">Lunch</td>
                </tr>
                <tr class="sch">
                    <td class="sch">13:30-15:00</td>
                    <td class="sch session">
                        <a class="anchor" id="tutorial2"></a>
                        <strong>Tutorial 1 (Part 2)</strong>
                        <ul class="sch">
                            <li>Putting the S back into IoT - Tutorial on Sensor and Actor Systems in Small Portable Ad-Hoc Networks<br />
                                <em><small>Ulrich Norbisrath (University of Tartu, Estonia)</small></em>
                                <br />
                                <a href="/tutorial-speakers/#tutorial1" target="_blank">more information</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">15:00-15:30</td>
                    <td class="sch reg">Coffee Break</td>
                </tr>
                <tr class="sch">
                    <td class="sch">15:30-16:00</td>
                    <td class="sch special">
                        <a class="anchor" id="phd"></a>
                        <strong>Sponsor Talk & PhD Symposium</strong><br />
                        <!-- <strong>(Session chair: Genoveva Vargas-Solar)</strong> -->
                        <ul class="sch">
                            <li>
                                <a href="/call-for-doctoral-symposium/" target="_blank">PhD Call information</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">16:00-17:00</td>
                    <td class="sch special">
                        <a class="anchor" id="poster1"></a>
                        <strong>Poster & Demo Session 1</strong><br />
                        <ul class="sch">
                            <li>
                                <a href="/call-for-posters-and-demos/" target="_blank">Call information</a>
                            </li>
                        </ul>
                        <!-- <strong>Demos</strong> -->
                        <!-- <strong>(Session chair: Baptiste Lepers)</strong> -->
                        <!-- <ul class="sch">
                            {% assign sessionDemo = site.data.demo | sort: "session_order" %}
                            {% for demo in sessionDemo %}
                                <li>
                                    {{ demo.title }}
                                    <br />
                                    <em><small>
                                        {% for author in demo.authors %}
                                            {{- author.name -}} 
                                            {%- assign next = demo.authors[forloop.index] -%}
                                            {% unless author.institution == next.institution %}
                                            ({{ author.institution -}})
                                            {%- endunless -%}
                                            {%- unless forloop.last %},{% endunless %}
                                        {% endfor %}
                                    </small></em>
                                </li>
                                {%- unless forloop.last %}
                                    <span class="paper-space"></span>
                                {% endunless %}
                            {% endfor %}
                        </ul>
                        <strong>Poster Session</strong><br />
                        <ul class="sch">
                            <li>
                                <a href="/accepted-posters/" target="_blank">accepted posters</a>
                            </li>
                        </ul> -->
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">17:00-19:00</td>
                    <td class="sch reg">Reception</td>
                </tr>
                <!-- <tr class="sch">
                    <td class="sch">15:30-20:00</td>
                    <td class="sch special">
                        <a class="anchor" id="poster"></a>
                        <strong>Poster + Wine & Cheese</strong>
                        <ul class="sch">
                            <li>
                                <a href="/accepted-posters/" target="_blank">more information</a>
                            </li>
                        </ul>
                    </td>
                </tr> -->
            </tbody></table>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
      <div class="schedule-day">
          <table class="sch">
              <thead>
              <tr>
                  <th class="sch day-header" colspan="2"><strong>Wednesday, 26 June 2024</strong></th>
              </tr>
              </thead>
              <tbody><tr class="sch">
                  <td class="sch detailed-time"><strong>Begin-End</strong></td>
                  <td class="sch"><strong>Subject</strong></td>
              </tr>
              <tr class="sch">
                  <td class="sch">08:00-09:00</td>
                  <td class="sch reg">Registration</td>
              </tr>
              <tr class="sch">
                <td class="sch">09:00-9:30</td>
                <td class="sch session">Opening</td>
            </tr>
              <tr class="sch">
                  <td class="sch">09:30-10:30</td>
                  <td class="sch keynote">
                    <a class="anchor" id="keynote1"></a>
                      <strong>Keynote 1</strong><br >
                      <strong>(Session chair: Tilmann Rabl)</strong>
                      <ul class="sch">
                          <li>NebulaStream – Data Stream Processing in Massively Distributed Heterogeneous Environments<br />
                              <em><small>Volker Markl (Technical University of Berlin, Germany)</small></em>
                              <br />
                              <a href="/keynote-speakers/#keynote1" target="_blank">more information</a>
                          </li>
                      </ul>
                  </td>
              </tr>
              <tr class="sch">
                  <td class="sch">10:30-11:00</td>
                  <td class="sch reg">Coffee Break</td>
              </tr>
              <tr class="sch">
                  <td class="sch">10:30-12:00</td>
                  <td class="sch session">
                      <a class="anchor" id="paper1"></a>
                      <strong>Session: Systems I</strong><br />
                      <!-- <strong>(Session chair: Genoveva Vargas-Solar)</strong> -->
                      {% include schedule_papers_view.html session="1" %}
                  </td>
              </tr>
              <tr class="sch">
                  <td class="sch">12:00-13:30</td>
                  <td class="sch reg">Lunch</td>
              </tr>
              <tr class="sch">
                  <td class="sch">13:30-15:00</td>
                  <td class="sch session">
                      <a class="anchor" id="paper2"></a>
                      <strong>Session: Benchmarking</strong><br />
                      <!-- <strong>(Session chair: Leonardo Querzoni)</strong> -->
                      {% include schedule_papers_view.html session="2" %}
                  </td>
              </tr>
              <tr class="sch">
                  <td class="sch">15:00-15:30</td>
                  <td class="sch reg">Coffee Break</td>
              </tr>
              <tr class="sch">
                <td class="sch">15:30-16:30</td>
                <td class="sch special">
                    <a class="anchor" id="grandchallenge"></a>
                    <strong>Grand Challenge</strong><br />
                    <strong>(Session chair: Alessandro Margara)</strong>
                    <!-- <strong>(Session chair: Genoveva Vargas-Solar)</strong> -->
                    <ul class="sch">
                        <li>
                            <a href="/call-for-grand-challenge-solutions/" target="_blank">Call information</a>
                        </li>
                    </ul>
                </td>
              </tr>
              <tr class="sch">
                <td class="sch">16:30-17:30</td>
                <td class="sch special">
                    <a class="anchor" id="poster2"></a>
                    <strong>Poster & Demo Session 2</strong><br />
                    <ul class="sch">
                        <li>
                            <a href="/call-for-posters-and-demos/" target="_blank">Call information</a>
                        </li>
                    </ul>
                    <!-- <strong>Demos</strong> -->
                    <!-- <strong>(Session chair: Baptiste Lepers)</strong> -->
                    <!-- <ul class="sch">
                        {% assign sessionDemo = site.data.demo | sort: "session_order" %}
                        {% for demo in sessionDemo %}
                            <li>
                                {{ demo.title }}
                                <br />
                                <em><small>
                                    {% for author in demo.authors %}
                                        {{- author.name -}} 
                                        {%- assign next = demo.authors[forloop.index] -%}
                                        {% unless author.institution == next.institution %}
                                        ({{ author.institution -}})
                                        {%- endunless -%}
                                        {%- unless forloop.last %},{% endunless %}
                                    {% endfor %}
                                </small></em>
                            </li>
                            {%- unless forloop.last %}
                                <span class="paper-space"></span>
                            {% endunless %}
                        {% endfor %}
                    </ul>
                    <strong>Poster Session</strong><br />
                    <ul class="sch">
                        <li>
                            <a href="/accepted-posters/" target="_blank">accepted posters</a>
                        </li>
                    </ul> -->
                </td>
            </tr>
          </tbody></table>
      </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="schedule-day">
            <table class="sch">
                <thead>
                <tr>
                    <th class="sch day-header" colspan="2"><strong>Thursday, 27 June 2024</strong></th>
                </tr>
                </thead>
                <tbody><tr class="sch">
                    <td class="sch detailed-time"><strong>Begin-End</strong></td>
                    <td class="sch"><strong>Subject</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch">08:00-08:45</td>
                    <td class="sch reg">Registration</td>
                </tr>
                <tr class="sch">
                    <td class="sch">08:45-09:00</td>
                    <td class="sch session">Opening</td>
                </tr>
                <tr class="sch">
                    <td class="sch">09:00-10:00</td>
                    <td class="sch keynote">
                        <a class="anchor" id="keynote2"></a>
                        <strong>Keynote 2</strong><br >
                        <strong>(Session chair: Avrilia Floratou)</strong>
                        <ul class="sch">
                            <li>Simplicity and Elegance in Stream Processing: A Five Year Odyssey<br />
                                <em><small>Tyler Akidau (Snowflake Inc., USA)</small></em>
                                <br />
                                <a href="/keynote-speakers/#keynote2" target="_blank">more information</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">10:00-10:30</td>
                    <td class="sch reg">Coffee Break</td>
                </tr>
                <tr class="sch">
                    <td class="sch">10:30-12:00</td>
                    <td class="sch session">
                        <a class="anchor" id="paper3"></a>
                        <strong>Session: Systems II</strong><br />
                        {% include schedule_papers_view.html session="3" %}
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">12:00-13:30</td>
                    <td class="sch reg">Lunch</td>
                </tr>
                <tr class="sch">
                    <td class="sch">13:30-14:30</td>
                    <td class="sch session">
                        <a class="anchor" id="paper4"></a>
                        <strong>Session: Potpourri</strong><br />
                        <!-- <strong>(Session chair: Tania Lorido Botran)</strong> -->
                        {% include schedule_papers_view.html session="4" %}
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">14:30-15:00</td>
                    <td class="sch reg">Coffee Break</td>
                </tr>
                <tr class="sch">
                    <td class="sch">15:00-15:45</td>
                    <td class="sch special">
                        <a class="anchor" id="testoftime"></a>
                        
                        <strong>Test of Time Award Ceremony</strong><br />
                        <strong>(Session chair: Boris Koldehofe)</strong>
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">16:30-18:30</td>
                    <td class="sch reg">
                        <a class="anchor" id="socialevent"></a>
                        <strong>Social event</strong>
                        <ul class="sch">
                            <li>
                                TBD
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">19:00</td>
                    <td class="sch reg">
                        <a class="anchor" id="galadinner"></a>
                        <strong>Gala Dinner</strong>
                        <ul class="sch">
                            <li>
                                Location: Restarurant "La Maison"
                              <br />
                              <a href="/venue-information/#galadinner" target="_blank">more information</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody></table>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="schedule-day">
            <table class="sch">
                <thead>
                <tr>
                    <th class="sch day-header" colspan="2"><strong>Friday, 28 June 2024</strong></th>
                </tr>
                </thead>
                <tbody><tr class="sch">
                    <td class="sch detailed-time"><strong>Begin-End</strong></td>
                    <td class="sch"><strong>Subject</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch">08:00-09:00</td>
                    <td class="sch reg">Registration</td>
                </tr>
                <tr class="sch">
                    <td class="sch">09:30-10:30</td>
                    <td class="sch keynote">
                        <a class="anchor" id="keynote3"></a>
                        <strong>Keynote 3</strong><br >
                        <strong>(Session chair: Angela Bonifati)</strong>
                        <ul class="sch">
                            <li>Distributed scheduling in modern data centers: to optimize or not?<br />
                                <em><small>Evangelia Kalyvianaki (University of Cambridge, UK)</small></em>
                                <br />
                                <a href="/keynote-speakers/#keynote3" target="_blank">more information</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">10:00-10:30</td>
                    <td class="sch reg">Coffee Break</td>
                </tr>
                <tr class="sch">
                    <td class="sch">10:30-12:00</td>
                    <td class="sch session">
                        <a class="anchor" id="tutorial2"></a>
                        <strong>Tutorial 2 (full) & 3 (Part 1)</strong>
                        <ul class="sch">
                            <li>Durable Execution with Restate<br />
                                <em><small>Giselle van Dongen (Restate)</small></em>
                                <br />
                                <a href="/tutorial-speakers/#tutorial2" target="_blank">more information</a>
                            </li>
                            <li>NebulaStream: Data Management for the Internet of Things<br />
                                <em><small>Steffen Zeuch (TU Berlin, Germany)</small></em>
                                <br />
                                <a href="/tutorial-speakers/#tutorial3" target="_blank">more information</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">12:00-13:30</td>
                    <td class="sch reg">Lunch</td>
                </tr>
                <tr class="sch">
                    <td class="sch">13:30-15:00</td>
                    <td class="sch session">
                        <a class="anchor" id="tutorial2"></a>
                        <strong>Tutorial 3 (Part 2)</strong>
                        <ul class="sch">
                            <li>NebulaStream: Data Management for the Internet of Things<br />
                                <em><small>Steffen Zeuch (TU Berlin, Germany)</small></em>
                                <br />
                                <a href="/tutorial-speakers/#tutorial3" target="_blank">more information</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody></table>
        </div>
    </div>
  </div>
</section>

{% include footer.html %}
</body>
</html>