---
# this is an empty front matter
---
<!DOCTYPE html>
<html>
<head>
<title>PROGRAM SCHEDULE</title>
{% include head-tags.html %}
<link rel="stylesheet" href="/css/schedule.css" />
</head>
<body>

{% include header.html %}
{% include slider-regular-page.html title="PROGRAM SCHEDULE" %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="block">
            <h1>Program Schedule</h1>
            <p>All times are in Central Europe Summer Time (CEST)</p>

            <div class="scroll-container">
            <table class="sch">
                <thead>
                <tr>
                    <th class="sch bord"></th>
                    <th class="sch bord days">Tue, 27 June</th>
                    <th class="sch bord days">Wed, 28 June</th>
                    <th class="sch bord days">Thu, 29 June</th>
                    <th class="sch bord days">Fri, 30 June</th>
                    <th class="sch bord days" colspan="2">Sat, 01 July</th>
                </tr>
                </thead>
                <tbody>
                <tr class="sch half">
                    <td class="sch quarter"><strong>8:45</strong></td>
                    <td class="sch reg" rowspan="8">Registration</td>
                    <td class="sch special" rowspan="2">Opening Address</td>
                    <td class="sch reg" rowspan="2">Registration</td>
                    <td class="sch reg" rowspan="5">Registration</td>
                    <td class="sch festival dashed subday" rowspan="63"><a href="#festival1">Le Paradigme Bitcoin</a></td>
                    <td class="sch festival subday" rowspan="63"><a href="#festival2">Festival P2P</a></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>8:50</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>9:00</strong></td>
                    <td class="sch keynote" rowspan="6"><a href="#keynote2">Keynote 2: Accelerating the performance of distributed stream processing systems with in-network computing</a></td>
                    <td class="sch keynote" rowspan="6"><a href="#keynote3">Keynote 3: Internet Computer Protocol: democratic evolution of a web3 platform</a></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>9:10</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>9:20</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>9:30</strong></td>
                    <td class="sch keynote" rowspan="6"><a href="#keynote5">Keynote 5: Secure distributed data and event processing at scale: where are we now</a></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>9:40</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>9:50</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>10:00</strong></td>
                    <td class="sch session" rowspan="12"><a href="#phd1">PhD Symposium Session 1</a></td>
                    <td class="sch reg" rowspan="3">Coffee Break</td>
                    <td class="sch reg" rowspan="3">Coffee Break</td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>10:10</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>10:20</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>10:30</strong></td>
                    <td class="sch session" rowspan="9"><a href="#paper1">Session 1: Programming Streams</a></td>
                    <td class="sch session" rowspan="9"><a href="#paper4">Session 4: IoT</a></td>
                    <td class="sch reg" rowspan="3">Coffee Break</td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>10:40</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>10:50</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>11:00</strong></td>
                    <td class="sch session" rowspan="6"><a href="#paper6">Session 6: Predictable Streams</a></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>11:10</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>11:20</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>11:30</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>11:40</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>11:50</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>12:00</strong></td>
                    <td class="sch reg" rowspan="10">Lunch @ UniMAIL</td>
                    <td class="sch reg" rowspan="10">Lunch @ UniMAIL</td>
                    <td class="sch reg" rowspan="10">Lunch @ UniMAIL</td>
                    <td class="sch special" rowspan="2">Closing Remarks</td>
                </tr>
                <tr class="sch half">
                    <td class="sch quarter"><strong>12:10</strong></td>
                </tr>
                <tr class="sch half">
                    <td class="sch quarter"><strong>12:15</strong></td>
                    <td class="sch reg" rowspan="11">Lunch boxes</td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>12:20</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>12:30</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>12:40</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>12:50</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>13:00</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>13:10</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>13:20</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>13:30</strong></td>
                    <td class="sch session" rowspan="9"><a href="#phd2">PhD Symposium Session 2</a></td>
                    <td class="sch session" rowspan="9"><a href="#paper2">Session 2: Secure and Dependable Streams</a></td>
                    <td class="sch session" rowspan="9"><a href="#paper5">Session 5: Systems</a></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>13:40</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>13:50</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>14:00</strong></td>
                    <td class="sch" rowspan="30"></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>14:10</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>14:20</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>14:30</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>14:40</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>14:50</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>15:00</strong></td>
                    <td class="sch reg" rowspan="3">Coffee Break</td>
                    <td class="sch reg" rowspan="3">Coffee Break</td>
                    <td class="sch reg" rowspan="3">Coffee Break</td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>15:10</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>15:20</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>15:30</strong></td>
                    <td class="sch session" rowspan="11"><a href="#tuto1">Tutorial (TBA)</a></td>
                    <td class="sch session" rowspan="7"><a href="#paper3">Session 3: Financial Streams</a></td>
                    <td class="sch" rowspan="2"></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>15:40</strong></td>
                </tr>
                <tr class="sch half">
                    <td class="sch quarter"><strong>15:45</strong></td>
                    <td class="sch peoplepanel" rowspan="7"><a href="#panel2">Test of Time Award Cerimony</a></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>15:50</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>16:00</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>16:10</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>16:20</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>16:30</strong></td>
                    <td class="sch" rowspan="2"></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>16:40</strong></td>
                </tr>
                <tr class="sch half">
                    <td class="sch quarter"><strong>16:45</strong></td>
                    <td class="sch peoplepanel" rowspan="9"><a href="#panel1">Panel 1: TBD</a></td>
                    <td class="sch" rowspan="2"></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>16:50</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>17:00</strong></td>
                    <td class="sch keynote" rowspan="5"><a href="#keynote1">Keynote 1: A selective and biased choice of techniques for building a distributed data store.</a></td>
                    <td class="sch keynote" rowspan="7"><a href="#keynote4">Keynote 4: Metastability in the Metaverse
</a></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>17:10</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>17:20</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>17:30</strong></td>
                </tr>
                <tr class="sch half">
                    <td class="sch quarter"><strong>17:40</strong></td>
                </tr>
                <tr class="sch half">
                    <td class="sch quarter"><strong>17:45</strong></td>
                    <td class="sch special" rowspan="5">Poster + Wine & Cheese</td>
                </tr>
                <tr class="sch">
                    <td class="sch quarter"><strong>17:50</strong></td>
                </tr>
                <tr class="sch fourtime">
                    <td class="sch quarter"><strong>18:00</strong></td>
                    <td class="sch" rowspan="3"></td>
                    <td class="sch special">Social event</td>
                </tr>
                <tr class="sch fourtime">
                    <td class="sch quarter"><strong>19:00</strong></td>
                    <td class="sch reg" rowspan="2">Dinner (TBA)</td>
                </tr>
                <tr class="sch fourtime">
                    <td class="sch quarter"><strong>20:00</strong></td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="schedule-day">
            <table class="sch">
                <thead>
                <tr>
                    <th class="sch day-header" colspan="2"><strong>Tuesday, 27 June 2023</strong></th>
                </tr>
                </thead>
                <tbody><tr class="sch">
                    <td class="sch detailed-time"><strong>Begin-End</strong></td>
                    <td class="sch"><strong>Subject</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch">08:45-10:00</td>
                    <td class="sch reg">Registration</td>
                </tr>
                <tr class="sch">
                    <td class="sch">10:00-12:00</td>
                    <td class="sch session">
                        <a class="anchor" id="phd1"></a>
                        <strong>PhD Symposium Session 1</strong>
                        <ul class="sch">
                        </ul>
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">12:00-13:30</td>
                    <td class="sch reg">Lunch @ UniMAIL </td>
                </tr>
                <tr class="sch">
                    <td class="sch">13:30-15:00</td>
                    <td class="sch session">
                        <a class="anchor" id="phd2"></a>
                        <strong>PhD Symposium Session 2</strong>
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">15:00-15:30</td>
                    <td class="sch reg">Coffee Break</td>
                </tr>
                <tr class="sch">
                    <td class="sch">15:30-17:00</td>
                    <td class="sch session">
                        <a class="anchor" id="tuto1"></a>
                        <strong>Tutorial</strong>
                        <ul class="sch">
                            <li>TBA<br />
                                <!--<em><small>Author 1 (Uni 1), Author 2 (Uni 2),Author 3 (Uni 3), Author 4 (Uni 4), Author 5 (Uni 5)</small></em>-->
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">17:00-17:45</td>
                    <td class="sch keynote">
                        <a class="anchor" id="keynote1"></a>
                        <strong>Keynote 1</strong>
                        <ul class="sch">
                            <li>A selective and biased choice of techniques for building a distributed data store.<br />
                                <em><small>Paweł T. Wojciechowski (Poznan University of Technology, Poland)</small></em>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">17:45</td>
                    <td class="sch special">Poster + Wine & Cheese</td>
                </tr>
            </tbody></table>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
      <div class="schedule-day">
          <table class="sch">
              <thead>
              <tr>
                  <th class="sch day-header" colspan="2"><strong>Wednesday, 28 June 2023</strong></th>
              </tr>
              </thead>
              <tbody><tr class="sch">
                  <td class="sch detailed-time"><strong>Begin-End</strong></td>
                  <td class="sch"><strong>Subject</strong></td>
              </tr>
              <tr class="sch">
                  <td class="sch">08:45-10:00</td>
                  <td class="sch reg">Registration</td>
              </tr>
              <tr class="sch">
                  <td class="sch">08:45-09:00</td>
                  <td class="sch special">Opening Address</td>
              </tr>
              <tr class="sch">
                  <td class="sch">09:00-10:00</td>
                  <td class="sch keynote">
                    <a class="anchor" id="keynote2"></a>
                      <strong>Keynote 2</strong>
                      <ul class="sch">
                          <li>Accelerating the performance of distributed stream processing systems with in-network computing<br />
                              <em><small>Boris Koldehofe (Technical University of Ilmenau, Germany)</small></em>
                          </li>
                      </ul>
                  </td>
              </tr>
              <tr class="sch">
                  <td class="sch">10:00-10:30</td>
                  <td class="sch reg">Coffee Break</td>
              </tr>
              <tr class="sch">
                  <td class="sch">10:30-12:00</td>
                  <td class="sch session">
                      <a class="anchor" id="paper1"></a>
                      <strong>Session 1: Programming Streams</strong>
                      {% include schedule_papers_view.html session="1" %}
                  </td>
              </tr>
              <tr class="sch">
                  <td class="sch">12:00-13:30</td>
                  <td class="sch reg">Lunch @ UniMAIL </td>
              </tr>
              <tr class="sch">
                  <td class="sch">13:30-15:00</td>
                  <td class="sch session">
                      <a class="anchor" id="paper2"></a>
                      <strong>Session 2: Secure and Dependable Streams</strong>
                      {% include schedule_papers_view.html session="2" %}
                  </td>
              </tr>
              <tr class="sch">
                  <td class="sch">15:00-15:30</td>
                  <td class="sch reg">Coffee Break</td>
              </tr>
              <tr class="sch">
                  <td class="sch">15:30-16:30</td>
                  <td class="sch session">
                      <a class="anchor" id="paper3"></a>
                      <strong>Session 3: Financial Streams</strong>
                      {% include schedule_papers_view.html session="3" %}
                  </td>
              </tr>
              <tr class="sch">
                  <td class="sch">16:45-18:00</td>
                  <td class="sch peoplepanel">
                  <a class="anchor" id="panel1"></a>
                    Panel 1 (TBA)
                  </td>
              </tr>
          </tbody></table>
      </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="schedule-day">
            <table class="sch">
                <thead>
                <tr>
                    <th class="sch day-header" colspan="2"><strong>Thursday, 29 June 2023</strong></th>
                </tr>
                </thead>
                <tbody><tr class="sch">
                    <td class="sch detailed-time"><strong>Begin-End</strong></td>
                    <td class="sch"><strong>Subject</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch">08:45-10:00</td>
                    <td class="sch reg">Registration</td>
                </tr>
                <tr class="sch">
                    <td class="sch">09:00-10:00</td>
                    <td class="sch keynote">
                        <a class="anchor" id="keynote3"></a>
                        <strong>Keynote 3</strong>
                        <ul class="sch">
                            <li>Internet Computer Protocol: democratic evolution of a web3 platform<br />
                                <em><small>Yvonne-Anne Pignolet (DFINITY, Switzerland)</small></em>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">10:00-10:30</td>
                    <td class="sch reg">Coffee Break</td>
                </tr>
                <tr class="sch">
                    <td class="sch">10:30-12:00</td>
                    <td class="sch session">
                        <a class="anchor" id="paper4"></a>
                        <strong>Session 4: IoT</strong>
                        {% include schedule_papers_view.html session="4" %}
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">12:00-13:30</td>
                    <td class="sch reg">Lunch @ UniMAIL </td>
                </tr>
                <tr class="sch">
                    <td class="sch">13:30-15:00</td>
                    <td class="sch session">
                        <a class="anchor" id="paper5"></a>
                        <strong>Session 5: Systems</strong>
                        {% include schedule_papers_view.html session="5" %}
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">15:00-15:30</td>
                    <td class="sch reg">Coffee Break</td>
                </tr>
                <tr class="sch">
                    <td class="sch">15:45-16:45</td>
                    <td class="sch peoplepanel">
                        <a class="anchor" id="panel2"></a>
                        Test of Time Award Cerimony
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">17:00-18:00</td>
                    <td class="sch keynote">
                        <a class="anchor" id="keynote4"></a>
                        <strong>Keynote 4</strong>
                        <ul class="sch">
                            <li>Metastability in the Metaverse<br />
                                <em><small>Tania Lorido Botran (Roblox, USA)</small></em>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">18:00</td>
                    <td class="sch special">Social event</td>
                </tr>
                <tr class="sch">
                    <td class="sch">19:00</td>
                    <td class="sch reg">Dinner (TBA)</td>
                </tr>
            </tbody></table>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="schedule-day">
            <table class="sch">
                <thead>
                <tr>
                    <th class="sch day-header" colspan="2"><strong>Friday, 30 June 2023</strong></th>
                </tr>
                </thead>
                <tbody><tr class="sch">
                    <td class="sch detailed-time"><strong>Begin-End</strong></td>
                    <td class="sch"><strong>Subject</strong></td>
                </tr>
                <tr class="sch">
                    <td class="sch">08:45-10:00</td>
                    <td class="sch reg">Registration</td>
                </tr>
                <tr class="sch">
                    <td class="sch">09:30-10:30</td>
                    <td class="sch keynote">
                        <a class="anchor" id="keynote5"></a>
                        <strong>Keynote 5</strong>
                        <ul class="sch">
                            <li>Secure distributed data and event processing at scale: where are we now<br />
                                <em><small>Patrick Eugster (Università della Svizzera italiana)</small></em>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">10:30-11:00</td>
                    <td class="sch reg">Coffee Break</td>
                </tr>
                <tr class="sch">
                    <td class="sch">11:00-12:00</td>
                    <td class="sch session">
                        <a class="anchor" id="paper6"></a>
                        <strong>Session 6: Predictable Streams</strong>
                        {% include schedule_papers_view.html session="6" %}
                    </td>
                </tr>
                <tr class="sch">
                    <td class="sch">12:00-12:15</td>
                    <td class="sch special">Closing Remarks</td>
                </tr>
                <tr class="sch">
                    <td class="sch">12:15-14:00</td>
                    <td class="sch reg">Lunch boxes</td>
                </tr>
            </tbody></table>
        </div>
    </div>
  </div>

  <div class="container">
      <div class="row">
          <div class="schedule-day">
              <table class="sch">
                  <thead>
                  <tr>
                      <th class="sch day-header" colspan="2"><strong>Saturday, 01 July 2023</strong></th>
                  </tr>
                  </thead>
                  <tbody><tr class="sch">
                      <td class="sch detailed-time"><strong>Begin-End</strong></td>
                      <td class="sch"><strong>Subject</strong></td>
                  </tr>
                  <tr class="sch">
                      <td class="sch">All day</td>
                      <td class="sch festival">
                        <a class="anchor" id="festival1"></a>
                          <strong>Le Paradigme Bitcoin</strong>
                          <ul class="sch">
                              <li>
                                A variety of conferences focusing on Bitcoin and its widespread adoption.
                                <br />
                                <a href="https://leparadigmebitcoin.ch/en/" target="_blank">more information</a>
                              </li>
                          </ul>
                      </td>
                  </tr>
                  <tr class="sch">
                      <td class="sch">All day</td>
                      <td class="sch festival">
                        <a class="anchor" id="festival2"></a>
                          <strong>Festival P2P</strong>
                          <ul class="sch">
                              <li>
                                An educational and festive event that will offer workshops and artistic and/or technical demonstrations.<br />
                                The festival focuses on peer-to-peer solutions, digital self-sovereignty and cross-border exchanges.<br />
                                <em><small>(French only)</small></em><br />
                                <a href="https://leparadigmebitcoin.ch/en/le-festival-p2p-du-jura/" target="_blank">more information</a>
                              </li>
                          </ul>
                      </td>
                  </tr>
              </tbody></table>
          </div>
      </div>
    </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            
          </ul>
        </div>
        <ul class="list-inline mb-20">
          <li class="list-inline-item">Follow us:</li>
          
          <li class="list-inline-item"><a href="https://twitter.com/ACM_DEBS"><i class="fa fa-twitter"></i></a></li>
          
          <li class="list-inline-item"><a href="https://www.facebook.com/ACM.DEBS"><i class="fa fa-facebook"></i></a></li>
          
          <li class="list-inline-item"><a href="https://www.linkedin.com/groups/4747505/"><i class="fa fa-linkedin"></i></a></li>
          
        </ul>
        {% include copyright.html %}
      </div>
    </div>
  </div>
</footer>
{% include js-tags.html %}
</body>
</html>