---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>PROGRAM SCHEDULE</title>
    {% include head-tags.html %}
    <link rel="stylesheet" href="/css/schedule.css" />
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="PROGRAM SCHEDULE" %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="block">
                        <h1>Program Schedule</h1>
                        <!-- <p>All times are in Central Europe Summer Time (CEST)</p> -->
                        <p>Please check <a href="/venue-information/#room">here</a> for information about the venue/room
                            where sessions will take place.</p>

                        <p><b>Please note</b>: The program is currently under construction!</p>

                    
    </section>

    {% include footer.html %}
</body>

</html>