---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>Minute Madness</title>
{% include head-tags.html %}
</head>
<body>

{% include header.html %}
{% include slider-regular-page.html title="MINUTE MADNESS" %}

<section id = "program-committee">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="block">
          <div style="margin-bottom: 100px;">
            <h1>Minute Madness</h1>
            <p>
            The conference begins with a 1-minute madness session, during which each author presents their poster.
            </p>
            <p>
              The aggregated slides can be downloaded <a href="/minute-madness/debs23_minute_madness.pdf">using this link</a>.
            </p>
            <p class="text-center">
              <a href="/minute-madness/debs23_minute_madness.pdf">
                <img src="/img/mind_madness_preview.webp" alt="The preview of the minute madness" style="width: 80%; border: 1px solid black;" />
              </a>
            </p>

          </div>
        </div>
      </div>
      
      {% include side.html %}

    </div>
  </div>
</section>
	
{% include footer.html %}
</body>
</html>