---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ACCOMMODATION</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="ACCOMMODATION" %}

    <section id="accomodation">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="block">
                        <div>
                            <h1>Accommodation - Suggested Hotels</h1>

                            <p>Below is a list of suggested hotels, either near Chalmers University, where the conference will take place, or in the city center. The hotels are sorted by the <b>approximate</b> time it takes to reach the conference venue by walking or using public transportation.</p>

                            <p>
                                <h2>Panorama hotel &#x1F9B6;10m / &#x1F68C;10m</h2>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4530.1819726986!2d11.983474333240393!3d57.68921038885555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff3a0263c6d55%3A0x84053324cc2f811d!2sComfort%20Hotel%20Panorama%2C%20G%C3%B6teborg!5e1!3m2!1sen!2sse!4v1741602930886!5m2!1sen!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </p>

                            <p>
                                <h2>Hotell Lorensberg &#x1F9B6;10m / &#x1F68C;10m</h2>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2037.6508262481475!2d11.980894176891297!3d57.69882447386617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff377034ef085%3A0x28ba16a30a9f5b7c!2sHotel%20Lorensberg%2C%20G%C3%B6teborg!5e1!3m2!1sen!2sse!4v1741603035050!5m2!1sen!2sse" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </p>

                            <p>
                                <h2>Elite Park Avenue &#x1F9B6;10m / &#x1F68C;10m</h2>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2037.6733276706532!2d11.975737876891271!3d57.69842447386596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff36640221bcb%3A0x8e1690204e89cd20!2sElite%20Park%20Avenue%20Hotel%20Gothenburg!5e1!3m2!1sen!2sse!4v1741603066219!5m2!1sen!2sse" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </p>

                            <p>
                                <h2>Scandic Rubinen &#x1F9B6;10m / &#x1F68C;10m</h2>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4548.072896981016!2d11.973931872065895!3d57.70016556816961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff370f92e621d%3A0xebfd484d5807135a!2sScandic%20Rubinen!5e1!3m2!1sen!2sse!4v1741603121868!5m2!1sen!2sse" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </p>

                            <p>
                                <h2>Scandic Opalen &#x1F9B6;15m / &#x1F68C;10m</h2>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8038.585862267033!2d11.9843847424023!3d57.7009984786058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff379d64a5465%3A0x92f872c390b36d4c!2sScandic%20Opalen!5e1!3m2!1sen!2sse!4v1741602966683!5m2!1sen!2sse" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </p>

                            <p>
                                <h2>Gothia Towers &#x1F9B6;20m / &#x1F68C;10m</h2>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2037.7314765118026!2d11.986437576891252!3d57.69739077386553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff39d8fa7a2a3%3A0x6514900d72252d6c!2sGothia%20Towers%20%26%20Upper%20House!5e1!3m2!1sen!2sse!4v1741603012337!5m2!1sen!2sse" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </p>

                            <p>
                                <h2>Radisson Blu Scandinavia &#x1F9B6;30m / &#x1F68C;15m</h2>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2037.6508262481475!2d11.980894176891297!3d57.69882447386617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff377034ef085%3A0x28ba16a30a9f5b7c!2sHotel%20Lorensberg%2C%20G%C3%B6teborg!5e1!3m2!1sen!2sse!4v1741603035050!5m2!1sen!2sse" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </p>

                        </div>
                    </div>
                </div>

                {% include side.html %}
            </div>
        </div>
    </section>

    {% include footer.html %}
</body>

</html>