---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ACCOMMODATION</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="ACCOMMODATION" %}

    <section id="accomodation">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="block">
                        <div>
                            <h1>Accommodation - Suggested Hotels</h1>
                            <p>
                        
                                <h2>City-center : « Presqu’île » District</h2>
                                <ul>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/hotel-le-roosevelt.en.html"><strong>Hôtel Le Roosevelt ****</strong></a><br>
                                        48, Rue de Sèze, 69006 Lyon<br>
                                        <a href="mailto:info@hotel-roosevelt.com">info@hotel-roosevelt.com</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/best-western-lyon-pont-wilson.en.html"><strong>Best Western Hotel – Pont Wilson ****</strong></a><br>
                                        6 rue Mazenod, 69003<br>
                                        <a href="mailto:reservation@hotelwilson-lyon.com">reservation@hotelwilson-lyon.com</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/college-lyon.en.html"><strong>Collège Hotel ****</strong></a><br>
                                        5 Place Saint-Paul, 69005<br>
                                        <a href="mailto:contact@college-hotel.com">contact@college-hotel.com</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/campanile-lyon-centre-berges-du-rhone.en.html"><strong>CAMPANILE Lyon Berges Du Rhône ***</strong></a><br>
                                        4-6 Rue Mortier, 69003 Lyon<br>
                                        <a href="mailto:lyon.bergesdurhone@campanile.fr">lyon.bergesdurhone@campanile.fr</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/belambra-villemanzy.en.html"><strong>BELAMBRA City Residence Villemanzy ***</strong></a><br>
                                        21, montée Saint Sébastien, 69001 Lyon<br>
                                        <a href="mailto:City.Lyon@belambra.fr">City.Lyon@belambra.fr</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/citadines-lyon-presqu-ile.en.html"><strong>CITADINES Lyon Presqu'ile ***</strong></a><br>
                                        2, rue Thomassin 69002 Lyon<br>
                                        <a href="mailto:lyonpres@citadines.com">lyonpres@citadines.com</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/hotel-des-celestins.en.html"><strong>Hôtel des Célestins ***</strong></a><br>
                                        4 Rue des Archers, 69002 Lyon<br>
                                        <a href="mailto:info@hotelcelestins.com">info@hotelcelestins.com</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/hotel-le-boulevardier.en.html"><strong>Hôtel Le Boulevardier**</strong></a><br>
                                        5 rue de la Fromagerie, 69001 Lyon<br>
                                        <a href="mailto:hotelboulevardier@gmail.com">hotelboulevardier@gmail.com</a>
                                    </li>
                                </ul>

                                <h2>City-center / Train station : « Part-Dieu » District</h2>
                                <ul>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/mercure-lyon-centre-gare-part-dieu.en.html"><strong>Hôtel Mercure Lyon Centre - Gare Part-Dieu ****</strong></a><br>
                                        50 rue de la Villette, 69003 Lyon<br>
                                        <a href="mailto:h7360@accor.com">h7360@accor.com</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/campanile-lyon-part-dieu.en.html"><strong>CAMPANILE Lyon Part-Dieu ***</strong></a><br>
                                        31 Rue Maurice Flandin, 69003 Lyon<br>
                                        <a href="mailto:reservation.lyon.partdieu@campanile.fr">reservation.lyon.partdieu@campanile.fr</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/ibis-lyon-part-dieu-les-halles.en.html"><strong>IBIS Lyon Part Dieu Les Halles ***</strong></a><br>
                                        78 Rue de Bonnel, 69003 Lyon<br>
                                        <a href="mailto:H1388-GM@accor.com">H1388-GM@accor.com</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/ibis-styles-lyon-part-dieu.en.html"><strong>IBIS Styles Lyon Part-Dieu ***</strong></a><br>
                                        54 Rue de la Villette, 69003 Lyon<br>
                                        <a href="mailto:h7373@accor.com">h7373@accor.com</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/ibis-part-dieu-gare.en.html"><strong>IBIS Part Dieu Gare ***</strong></a><br>
                                        2 Place Pierre Renaudel, 69003 Lyon<br>
                                        <a href="mailto:H0618@accor.com">H0618@accor.com</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/citadines-lyon-part-dieu.en.html"><strong>CITADINES Lyon Part-Dieu ***</strong></a><br>
                                        91-95, rue Moncey 69003 Lyon<br>
                                        <a href="mailto:lyon.dieu@citadines.com">lyondieu@citadines.com</a>
                                    </li>
                                    
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/appart-city-lyon-villette.en.html"><strong>APPART'CITY Lyon Part Dieu Villette ***</strong></a><br>
                                        6, avenue Lacassagne 69003 Lyon<br>
                                        <a href="mailto:lyon-villette-direction@appartcity.com">lyon-villette-direction@appartcity.com</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/sejours-affaires-lyon-saint-nicolas.en.html"><strong>SEJOURS & AFFAIRES Saint Nicolas ***</strong></a><br>
                                        90, boulevard Vivier Merle, 69003 Lyon<br>
                                        <a href="mailto:lyon.saintnicolas@sejours-affaires.com">lyon.saintnicolas@sejours-affaires.com</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/sejours-affaires-saxe-gambetta.en.html"><strong>SEJOURS & AFFAIRES Saxe Gambetta ***</strong></a><br>
                                        34 Grande rue de la Guillotière, 69007 Lyon<br>
                                        <a href="mailto:lyon.saxe@sejours-affaires.com">lyon.saxe@sejours-affaires.com</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/ibis-budget-lyon-part-dieu.en.html"><strong>IBIS Budget Lyon Part-Dieu **</strong></a><br>
                                        52 Rue de la Villette, 69003 Lyon<br>
                                        <a href="mailto:H7413@accor.com">H7413@accor.com</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/premiere-classe-lyon-centre-gare-part-dieu.en.html"><strong>PREMIERE CLASSE Part-Dieu **</strong></a><br>
                                        75 Boulevard Marius Vivier Merle, 69003 Lyon<br>
                                        <a href="mailto:lyon.partdieu@premiereclasse.fr">lyon.partdieu@premiereclasse.fr</a>
                                    </li>
                                </ul>
                            
                                <h2>Close to the conference location (DOUA campus area)</h2>
                                <ul>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/mercure-lyon-charpennes.en.html"><strong>Mercure Charpennes ****</strong></a><br>
                                        7 Place Charles Hernu, 69100 Villeurbanne<br>
                                        <a href="mailto:H1625@accor.com">H1625@accor.com</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/crowne-plaza-lyon-cite-internationale.en.html"><strong>Crowne Plaza Cité Internationale ****</strong></a><br>
                                        22 Quai Charles de Gaulle, 69006 Lyon<br>
                                        <a href="mailto:reception@cphotel-lyon.com">reception@cphotel-lyon.com</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/marriott-lyon-cite-internationale.en.html"><strong>Marriott Cité Internationale ****</strong></a><br>
                                        70 Quai Charles de Gaulle, 69006 Lyon<br>
                                        <a href="mailto:reception@marriottlyon.com">reception@marriottlyon.com</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/ibis-styles-lyon-villeurbanne.en.html"><strong>Hôtel Ibis Styles ***</strong></a><br>
                                        130 Boulevard du 11 novembre 1918, 69100 Villeurbanne<br>
                                        <a href="mailto:H9012@accor.com">H9012@accor.com</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/b-amp-b-lyon-cite-internationale.en.html"><strong>B&B Cité Internationale ***</strong></a><br>
                                        148-150 Grande Rue de St Clair, 69300 Caluire-et-Cuire<br>
                                        <a href="tel:+33(0)298337529">+33(0)298 337 529</a>
                                    </li>
                                    <li>
                                        <a href="https://www.booking.com/hotel/fr/ibis-budget-lyon-villeurbanne.en.html"><strong>Hôtel Ibis Budget **</strong></a><br>
                                        3 rue du 8 mai 1945, 69100 Villeurbanne<br>
                                        <a href="mailto:H5087@accor.com">H5087@accor.com</a>
                                    </li>
                                </ul>
                            
                            </p>
                        </div>
                    </div>
                </div>

                {% include side.html %}
            </div>
    </section>

    {% include footer.html %}
</body>

</html>