---
# this is an empty front matter
---
<!DOCTYPE html>
<html>

<head>
    <title>ACCOMMODATION</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="ACCOMMODATION" %}

    <section id="accomodation">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="block">
                        <div>
                            <h1>Accommodation</h1>
                            <p>
                                In partnership with the city of Neuchâtel, we propose an online platform to book hotel rooms with special rates, available until May 27th 2023.
                                Please note that hotel rooms might be difficult to come by in the city centre and it is strongly advised to secure your accommodation as soon as possible.
                            </p>
                            <li>
                                <a href="https://www.neuchatelcongres.ch/en/agenda/debs-2023.119.html" target="_blank">Access to the booking platform</a>
                            </li>
                        </div>
                    </div>
                </div>

                {% include side.html %}
            </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-manu">
                        <ul>

                        </ul>
                    </div>
                    <ul class="list-inline mb-20">
                        <li class="list-inline-item">Follow us:</li>

                        <li class="list-inline-item"><a href="https://twitter.com/ACM_DEBS"><i
                                    class="fa fa-twitter"></i></a></li>

                        <li class="list-inline-item"><a href="https://www.facebook.com/ACM.DEBS"><i
                                    class="fa fa-facebook"></i></a></li>

                        <li class="list-inline-item"><a href="https://www.linkedin.com/groups/4747505/"><i
                                    class="fa fa-linkedin"></i></a></li>

                    </ul>
                    {% include copyright.html %}
                </div>
            </div>
        </div>
    </footer>
    {% include js-tags.html %}
</body>

</html>