---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
	<title>WORKSHOPS</title>
	{% include head-tags.html %}
</head>

<body>

	{% include header.html %}
	{% include slider-regular-page.html title="WORKSHOPS" %}

	<section id="workshops">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-12">
					<div class="block">
						<div class="row">
							<div class="col-md-12">
								<h1>Workshops</h1>
								<hr>
							</div>

							<div class="col-md-12" style="padding-top: 50px"></div>

							<div>

								<h1>RELAX 2025: Workshop on Relaxed Semantics in Data Analytics Pipelines</h1>

								<p>The pervasiveness of complex AI and data analytics technologies has created new
									challenges for distributed data systems. These systems must manage diverse and
									high-velocity data sources, ranging from multivariate, audiovisual, relational, and
									unstructured data. Additionally, real-time streaming data requires novel
									computational approaches to handle its evolving nature efficiently.</p>

								<p>The RELAX 2025 workshop focuses on developing scalable and efficient data-intensive
									software systems that can navigate the trade-offs between strict correctness
									guarantees and system performance. As modern data analytics systems must process
									incomplete, uncertain, or inconsistent data while maintaining efficiency and
									usability, this workshop seeks to explore:</p>

								<p>
									<li>Federated AI models to enhance robustness without centralized data collection.
									</li>
									<li>Computational approximations for efficiency and sustainability in AI processing.
									</li>
									<li>Addressing data inaccuracies, bias, and ethical considerations in analytics
										systems.</li>
									<li>Methods to balance accuracy, consistency, and performance in large-scale data
										pipelines.</li>
									<li>Techniques for ensuring data quality in dynamic, streaming, and distributed
										environments.</li>
								</p>
								<p>
									We aim to foster discussions on designing flexible data management systems that
									balance decentralization, approximation, and ethics while addressing the challenges
									of high-velocity and diverse data.
								</p>

								<p>For more information, please visit the <a class="text-left"
										href="https://relax2025.github.io/" target="_blank"
										rel="noopener noreferrer">workshop webpage</a>.</p>

							</div>


						</div>
					</div>
				</div>

				{% include side.html %}

			</div>
		</div>
	</section>

	{% include footer.html %}
</body>

</html>