---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>CALL FOR GRAND CHALLENGE SOLUTIONS</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="CALL FOR GRAND CHALLENGE SOLUTIONS" %}

    <section id="teaser-call-for-grand-challenge-solutions">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="block">
                        <div>
                            <h1>Teaser 2024: Call for Grand Challenge Solutions</h1>

                            <p>
                                The DEBS Grand Challenge is a series of competitions that started in 2010, in which both
                                participants from academia and industry compete with the goal of building faster and more
                                scalable distributed and event-based systems that solve a practical problem. Every year, the
                                DEBS Grand Challenge participants have a chance to explore a new dataset and a new problem
                                and can compare their results based on the common evaluation criteria. The winners of the
                                challenge are announced during the conference where they are competing for a performance
                                and an audience award. Apart from correctness and performance, submitted solutions are also
                                assessed along a set of non-functional requirements.
                            </p>

                            <p>
                                The 2024 DEBS Grand Challenge focuses on real-time complex event processing of real-world
                                telemetry data provided by Backblaze (<a href="https://www.backblaze.com/">https://www.backblaze.com/</a>).The dataset used for the
                                Grand Challenge is based on fine-granular telemetry data about over 200k hard drives in data
                                centers operated by Backblaze. The goal of the challenge is to identify models that exhibit
                                comparable behavior with respect to a set of attributes best suited to predict failures.
                                Further details on the dataset provided, the queries, non-functional requirements and the
                                overall submission process can be found here: <a href="https://2024.debs.org/call-for-grand-challengesolutions/">https://2024.debs.org/call-for-grand-challengesolutions/</a>.
                            </p>

                        </div>
                        <div>
                            <h1>Participation</h1>

                            <p>
                                Participation in the DEBS 2024 Grand Challenge consists of three steps: (1) registration, (2)
                                iterative solution submission, and (3) paper submission.
                            </p>

                            <p>
                                The first step is to pre-register your submission by sending an abstract at the central DEBS 2024
                                conference management system in the "Grand Challenge Track" and send an email to one of the
                                Grand Challenge Co-Chairs (see <a href="https://2024.debs.org/organizing-committee/">https://2024.debs.org/organizing-committee/</a>).
                            </p>
                            <p>      
                                Solutions to the challenge, once developed, must be submitted to the evaluation plaVorm
                                (details will be available shortly) in order to get it benchmarked in the challenge. The evaluation
                                platform provides detailed feedback on performance and allows to update the solution in an
                                iterative process. A solution can be continuously improved until the challenge closing date.
                            </p>
                            <p>
                                The last step is to upload a short paper (maximum 6 pages) describing the final solution via the
                                central DEBS 2024 conference management system. All papers will be reviewed by the DEBS
                                Grand Challenge Committee to assess the merit and originality of submitted solutions. Accepted
                                papers will be included in the DEBS 2024 proceedings and will be presented during the poster
                                session at the conference.
                            </p>

                            
                        </div>

                        <div>
                            <h1>Important Dates (Tentative)</h1>
                            <li>
                                Release of the challenge, initial data set: <b>November 6th, 2023</b>
                            </li>
                            <li>
                                Test platform opens: <b>December, 2023</b>
                            </li>
                            <li>
                                Evaluation platform opens: <b>February, 2024</b>
                            </li>
                            <li>
                                Deadline for uploading final solution to the evaluation platform: <b>May 12th, 2024</b>
                            </li>
                            <li>
                                Evaluation of the solution: <b>May 19th, 2024</b>
                            </li>
                            <li>
                                Deadline for short paper submission: <b>June 2nd, 2024</b>
                            </li>
                            <li>
                                Notification of acceptance: <b>June 9th, 2024</b>
                            </li>
                            <li>
                                Camera ready submission: <b>June 16th, 2024</b>
                            </li>
                            <li>
                                Conference <b>June 25th – 28th June, 2024</b>
                            </li>
                        </div>


                    </div>
                </div>

                {% include side.html %}
            </div>
    </section>

    {% include footer.html %}
</body>
</html>