---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>CALL FOR GRAND CHALLENGE SOLUTIONS</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="CALL FOR GRAND CHALLENGE SOLUTIONS" %}

    <section id="teaser-call-for-grand-challenge-solutions">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="block">
                        <div>
                            
                            <h1>DEBS 2025: Call for Grand Challenge Solutions</h1>
                            
                            <p>
                                The DEBS Grand Challenge is a series of competitions that started in 2010, in which participants from academia and industry compete with the goal of building faster and more scalable distributed and event-based systems that solve a practical problem. Every year, the DEBS Grand Challenge participants have a chance to explore a new data set and a new problem and can compare their results based on common evaluation criteria. The winners of the challenge are announced during the conference. Apart from correctness and performance, submitted solutions are also assessed along a set of non-functional requirements.
                            </p>

                            <p><b>Registration is Open!</b> <a href="https://cmt3.research.microsoft.com/DEBS2025/Track/3/Submission/Create">https://cmt3.research.microsoft.com/DEBS2025/Track/3/Submission/Create</a></p>

                            <h1>
                                Topic: Defect Monitoring in Additive Manufacturing
                            </h1>

                            <p>
                                The 2025 DEBS Grand Challenge focuses on real-time monitoring of defects in Laser Powder Bed Fusion (L-PBF) manufacturing.
                            </p>

                            <p>
                                L-PBF is an additive manufacturing method, meaning that it creates objects by adding material rather than removing parts from an initial block, which reduces waste and increases flexibility. Specifically, L-PBF melts layers of fine metal powder on top of each other, according to a specification (usually, a CAD file). <br>

                                <img src="/img/gc/image-asset.gif"> <br>

                                Image source: <a href="http://pencerw.com/feed/2014/12/4/island-scanning-and-the-effects-of-slm-scanning-strategies">http://pencerw.com/feed/2014/12/4/island-scanning-and-the-effects-of-slm-scanning-strategies</a>
                            </p>

                            <p>
                                Unfortunately, L-PBF is not immune to defects due to impurities in the material used or calibration errors. In particular, a high degree of porosity (amount of empty spaces left inside the material) may severely impact the durability of the object being created.
                            </p>

                            <p>
                                The established approach to assess the quality of the process is through the analysis of the object after it is fully created. However, this approach leads to a waste of time and material, as the analysis is carried out afterward. To overcome these problems, more recent studies propose techniques that monitor the creation process in real-time, blocking a printing process if there is a high probability of defects.
                            </p>

                            <p>
                                The goal of the 2025 DEBS Grand Challenge is to implement a real-time monitoring system to detect defects in L-PBF manufacturing. The system receives as input a stream of optical tomography images, indicating the temperature of the powder bed for each layer during the manufacturing process. It must compute the probability that the object being created presents defects in some areas, enabling rapid reactions in the case of problems.
                            </p>

                        </div>
                        <div>
                            <h1>Participation</h1>

                            <p>
                                Participation in the DEBS 2025 Grand Challenge consists of three steps: (1) registration, (2) iterative solution submission, and (3) paper submission.
                            </p>

                            <p>
                                The first step is to register your submission in the "grand challenge track”. Shortly after your registration, you will have access to a containerized environment to test your solution directly on your computer, and a sample naïve solution to compare your approach with.
                            </p>

                            <p>
                                Once your solution is ready, you can submit it to the evaluation platform (<a href="https://challenge2025.debs.org/">https://challenge2025.debs.org/</a>) to get benchmarked in the challenge. The evaluation platform provides detailed feedback on performance and allows the solution to be updated in an iterative process. A solution can be continuously improved until the challenge closing date. Evaluation results of the last submitted solution will be used for the final performance ranking.
                            </p>

                            <p>
                                The last step is to upload a short paper (maximum 6 pages) describing the final solution via the conference management tool. The DEBS Grand Challenge Committee will review all papers to assess the merit and originality of submitted solutions. Participants will have the opportunity to present their work during the poster session at the DEBS 2025 conference.
                            </p>

                        </div>
                        <div>
                            
                            <h1>Query</h1>

                            <p>
                                The 2025 DEBS Grand Challenge involves implementing a monitoring system that takes in input a stream of optical tomography images of an object being created, and outputs a prediction that the object presents defects in some areas.
                            </p>

                            <p>
                                Each optical tomography image contains, for each point P = (x, y), the temperature T(P) at that point, measured layer by layer (z).
                            </p>

                            <p>
                                Images are submitted as a continuous stream, simulating the monitoring of the object while it is being printed. The stream delivers images one layer at a time, and each layer is split into multiple blocks, which we call tiles. See the figure below for reference. <br>

                                <img src="/img/gc/tiles.png">
                            </p>
                            
                            <p>
                                The processing pipeline involves 4 steps:
                                <ol>
                                    <li><b>Saturation analysis.</b> Within each tile, detect all points that surpass a threshold value of 65000.</li>
                                    <li><b>Windowing.</b> For each tile, keep a window of the last three layers.</li>
                                    <li><b>Outlier analysis.</b> Within each tile window, for each point P of the most recent layer, compute its local temperature deviation as difference between the mean temperature T(P) of its close neighbors (Manhattan distance 0 <= d <= 2 considering the 3 layers stacked on top of each other) and that of its outer neighbours (Manhattan distance 2 < d <=4) in absolute value. Let us call this value D. We define an outlier as a point for which D > 5000.</li>
                                    <li><b>Outlier clustering.</b> Using the outliers computed for the last received layer, find clusters of nearby outliers using DBScan, considering the Euclidean distance between points as the distance metric.</li>
                                </ol>
                            </p>


                            <p>
                                For each input (tile) received from the stream, your solution should return:
                                <ol>
                                    <li>The number of saturated points.</li>
                                    <li>The centroid (x, y coordinates) and size (number of points) of the top 10 largest clusters.</li>
                                </ol>
                            </p>

                            <p>
                                The figure below illustrates how windows are computed. <br>

                                <img src="/img/gc/windows.png">
                            </p>
                            
                            <p>
                                As a concrete example of the process, the image below shows an image extracted from the input dataset. <br>

                                <img src="/img/gc/example.jpg">
                            </p>
                            
                            <p>
                                The analysis of saturation identifies over 5000 saturated points, corresponding to white areas (e.g., the area in the top right triangle).
                            </p>

                            <p>
                                The analysis of outliers identifies the points as shown in the figure below. <br>

                                <img src="/img/gc/analysis.png">
                            </p>

                            <p>
                                Finally, the cluster analysis identifies the following clusters:
                                <ul class="nested-list">
                                    <li>Cluster 6: Centroid (498.1222272521503, 1633.0054323223178), Size 2209</li>
                                    <li>Cluster 5: Centroid (492.52658371040724, 1168.7143665158371), Size 1768</li>
                                    <li>Cluster 0: Centroid (343.49514563106794, 1624.8543689320388), Size 309</li>
                                    <li>Cluster 30: Centroid (1147.0236966824646, 1011.8388625592418), Size 211</li>
                                    <li>Cluster 7: Centroid (463.44827586206895, 1247.603448275862), Size 174</li>
                                    <li>Cluster 29: Centroid (1148.624060150376, 953.9774436090225), Size 133</li>
                                    <li>Cluster 32: Centroid (1267.4313725490197, 1032.4705882352941), Size 102</li>
                                    <li>Cluster 28: Centroid (1070.6382978723404, 981.3829787234042), Size 94</li>
                                    <li>Cluster 8: Centroid (458.10752688172045, 1212.6989247311828), Size 93</li>
                                    <li>Cluster 19: Centroid (893.3134328358209, 586.9701492537314), Size 67</li>
                                </ul>
                            </p>

                        </div>
                        <div>

                            <h1>Data Set and Requirements</h1>
                            
                            <p>
                                Available in the coming weeks.

                            </p>

                        </div>
                        <div>

                            <h1>Awards and Selection Process</h1>

                            <p>
                                Participants of the challenge compete for the performance award. The winner is determined through the automated evaluation platform Challenger (see above), according to criteria of speed (throughput and latency). In the case of submissions with similar performance characteristics, the committees will evaluate qualities of the solutions that are not tied to performance. Specifically, participants are encouraged to consider the practicability of the solution.
                            </p>
                            <p>
                                Regarding the practicability of a solution, we encourage participants to push beyond solving a problem correctly only in the functional sense. Instead, the aim is to provide a reusable and extensible solution that is of value beyond this year’s Grand Challenge alone, using available software systems or home-made but general-purpose processing engines.
                            </p>
                            <p>
                                In particular, we will reward those solutions that adhere to a list of non-functional criteria, such as configurability, scalability (horizontal scalability is preferred), operational reliability/resilience, accessibility of the solution's source code, integration with standard (tools/protocols), documentation, security mechanisms, deployment support, portability/maintainability, and support of special hardware (e.g., FPGAs, GPUs, SDNs, ...). These criteria are driven by industry use cases and scenarios so that we make sure solutions are applicable in practical settings.
                            </p>
                            
                        </div>
                        <div>

                            <h1>Important Dates</h1>
                            <!-- <li>
                                Release of the challenge, initial data set: <b>November 6th, 2023</b>
                            </li> -->
                            <li>
                                Registration and download of local test environment: <b>December, 2024</b>
                            </li>
                            <li>
                                Online evaluation platform opens: <b>February, 2024</b>
                            </li>
                            <li>
                                Deadline for short paper submission: <b>TBA</b>
                            </li>
                            <li>
                                Deadline for Camera Ready submission: <b>TBA</b>
                            </li>
                            <li>
                                Online evaluation platform closes: <b>TBA</b>
                            </li>
                        </div>

                        <div>
                            {% if site.data.chairs.grand_challenge_chairs %}
                            <h1>Grand Challenge Co-Chairs</h1>
                            {% for chair in site.data.chairs.grand_challenge_chairs %}
                            <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% include side.html %}
            </div>
    </section>

    {% include footer.html %}
</body>
</html>