---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>IMPORTANT DATES</title>
{% include head-tags.html %}
</head>
<body>

{% include header.html %}
{% include slider-regular-page.html title="IMPORTANT DATES" %}

<section id = "program-committee">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="block">
            <div>
                <h1>Important Dates</h1>
            </div>
            {% include dates_table.html %}
        </div>
      </div>
      
      {% include side.html show_table=0 %}
    </div>
  </div>
</section>
	
{% include footer.html %}
</body>
</html>