---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Featured Journals</title>
  {% include head-tags.html %}
</head>

<body>

  {% include header.html %}
  {% include slider-regular-page.html title="FEATURED JOURNALS" %}

  <section id="support">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="block">
            <div>
              <h1>Featured ACM Journals</h1><br>
              <p>To be posted Soon.</p>
              <!-- <p>
                Immerse yourself in the premier selection of ACM journals, proudly promoted at DEBS 2024.
                For a detailed overview, we warmly invite you to discover them below, or through our <a href="/acm-journals/acm-journals-debs-2023-flyer.pdf" target="_blank">dedicated flyer</a>.
              </p>

              <h2>ACM Transactions on Internet of Things (TIOT)</h2>
              <p>
                <i>ACM Transactions on Internet of Things</i> (TIOT) is a new ACM journal that publishes novel
                research contributions and experience reports in several research domains whose

                synergy and interrelations enable the IoT vision. TIOT focuses on system designs, end-
                to-end architectures, and enabling technologies, and on publishing results and insights

                corroborated by a strong experimental component. Topics relevant to the journal are:
                real-world applications, application designs, industrial case studies and user experiences
                of IoT technologies, including standardization and social acceptance; communication
                networks, protocols, and interoperability for IoT; IoT data analytics, machine learning,
                and associated Web technologies; wearable and personal devices, including sensor
                technologies; human-machine and machine-machine interactions; edge, fog, and cloud
                computing architectures; novel IoT software architectures, services, middleware as well as
                future Internet designs; fusion of social and physical signals in IoT services; non-functional
                properties of IoT systems, e.g., dependability, timeliness, security and privacy, robustness;
                and testbeds for IoT.
              </p>
              <p>
                More information on <a href="https://dl.acm.org/journal/tiot" target="_blank">https://dl.acm.org/journal/tiot</a>.
              </p>

              <h2>ACM Distributed Ledger Technologies: Research and Practice (DLT)</h2>
              <p>
                <i>Distributed Ledger Technologies: Research and Practice</i> (DLT) is a peer-reviewed
                journal that seeks to publish high quality, interdisciplinary research on the research
                and development, real-world deployment, and/or evaluation of distributed ledger
                technologies, e.g., blockchain, cryptocurrency, and smart contract. DLT offers a
                blend of original research work and innovative practice-driven advancements by
                internationally distinguished DLT experts and researchers from academia, and public
                and private sector organizations.
              </p>
              <p>
                More information on <a href="https://dlt.acm.org" target="_blank">https://dlt.acm.org</a>.
              </p>

              <h2>ACM Transactions on Modeling and Computer Simulation (TOMACS)</h2>
              <p>
                <i>ACM Transactions on Modeling and Computer Simulation</i> (TOMACS) provides a single archival
                source for the publication of high-quality research and developmental results referring to all
                phases of the modeling and simulation life cycle. The subjects of emphasis are discrete event
                simulation, combined discrete and continuous simulation, as well as Monte Carlo methods.
                The use of simulation techniques is pervasive, extending to virtually all the sciences. TOMACS
                serves to enhance the understanding, improve the practice, and increase the utilization of
                computer simulation. Submissions should contribute to the realization of these objectives,
                and papers treating applications should stress their contributions vis-á-vis these objectives.
              </p>
              <p>
                More information on <a href="https://tomacs.acm.org" target="_blank">https://tomacs.acm.org</a>.
              </p>

              <h2>Formal Aspects of Computing (FAC)</h2>
              <p>
                <i>Formal Aspects of Computing</i> (FAC) is a Gold Open Access journal publishing contributions at
                the junction of theory and practice. The journal is co-published by ACM and The Chartered
                Institute for IT (BCS). The objective is to disseminate applicable research. Thus, new
                theoretical contributions are welcome where they are motivated by potential application;
                applications of existing formalisms are of interest if they show something novel about the
                approach or application.
              </p>
              <p>
                More information on <a href="https://fac.acm.org" target="_blank">https://fac.acm.org</a>.
              </p> -->

              <h2>ACM Digital Library</h2>
              To view a listing of all ACM journals in the ACM Digital Library, visit <a href="https://dl.acm.org/journals" target="_blank">https://dl.acm.org/journals</a>.
            </div>
          </div>
        </div>

        {% include side.html %}

      </div>
    </div>
  </section>

  {% include footer.html %}
</body>

</html>