---
# this is an empty front matter
---
<!DOCTYPE html>
<html>

<head>
    <title>CALL FOR RESEARCH PAPERS</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="CALL FOR RESEARCH PAPERS" %}

    <section id="call-for-research-papers">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="block">
                        <div>
                            <h1>Objective</h1>

                            <p>
                                The ACM International Conference on Distributed and Event‐Based Systems
                                (DEBS) is a premier venue for academia and industry to discuss cutting-edge research of
                                event-based computing related to Big Data, AI/ML, IoT, and Distributed Systems in
                                general. DEBS 2023 will be a forum dedicated to the dissemination of original research,
                                the discussion of practical insights, and the reporting of experiences relevant to
                                distributed and event‐based systems.
                            </p>

                            <p>
                                We solicit high-quality submissions, with several options for authors depending on the
                                nature of their contribution. All submissions will undergo an extensive peer review
                                process.
                            </p>

                            <p>
                                <b>New</b>: This year, the conference adopts a dual-deadline model, with an opportunity
                                to submit either in the Fall or in the Spring, for presentation at the conference in
                                June.
                            </p>

                        </div>
                        <div>
                            <h1>Scope</h1>

                            <p>
                                The DEBS conference covers topics in distributed and event-based computing for a wide
                                range of application domains and computing environments. The conference aims at
                                presenting novel solutions for collecting, detecting, processing, analyzing and
                                responding to events through distributed middleware and platforms.
                            </p>

                            <p>
                                Topics covered by the conference include, but are not limited to:
                            </p>

                            <p>
                                <b>Models, architectures and paradigms</b>: Complex event processing, event-driven
                                architectures, trustworthy event-based systems, real-time analytics, intelligent event
                                processing, event processing in big and fast data, data stream processing, security and
                                encryption in stream processing, complex event forecasting, in-network processing,
                                logic-based complex event recognition, online relational learning, distributed event
                                pattern learning, event correlation, and pattern languages.
                            </p>

                            <p>
                                <b>Systems and software</b>: Distributed data processing, distributed programming,
                                federated event-based systems, AI/ML for event processing, information-centric
                                networking, software-defined networking, security, reliability and resilience,
                                distributed ledger and blockchains, programmable hardware, energy management, and green
                                computing as well as cloud, fog, ubiquitous and mobile computing.
                            </p>

                            <p>
                                <b>Applications</b>: Use cases, requirements, and applications of distributed and
                                event-based systems in various domains including Internet-of-Things, life sciences,
                                moving object applications, smart cities, cyber-physical systems, sensor networks,
                                social networking, multimedia analytics, finance, healthcare and logistics, computer and
                                network security, smart contracts, and blockchains. Also, relevant topics span
                                enterprise-level computing, including enterprise application integration, real-time
                                enterprises, event-based business process management, and support for enterprises to
                                respond in a timely fashion to changing situations.
                            </p>
                        </div>

                        <div>
                            <h1>Important Dates</h1>
                            <p style="font-size: 12px">Deadlines expire at 11:59pm AoE.</p>

                            <p>
                                DEBS {{site.data.dates.conference_year}} will have two submission cycles for the research track. There will be a
                                rebuttal phase for both submission cycles. We provide the possibility for papers
                                that are considered promising but not ready to offer one-shot revisions between the
                                Fall and Spring deadlines. More information is provided below.
                            </p>

                            <h2>Fall cycle</h2>

                            <li>
                                Abstract registration for research track:
                                <b>
                                    {% if site.data.dates.abstract_submission_fall.old!=""%}
                                    <del>{{site.data.dates.abstract_submission_fall.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.abstract_submission_fall.current %}
                                    {{site.data.dates.abstract_submission_fall.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Submission deadline for research track:
                                <b>
                                    {% if site.data.dates.research_submission_fall.old!="" %}
                                    <del>{{site.data.dates.research_submission_fall.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.research_submission_fall.current %}
                                    {{site.data.dates.research_submission_fall.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Rebuttal phase:
                                <b>
                                    {% if site.data.dates.rebuttal_phase_fall.old!="" %}
                                    <del>{{site.data.dates.rebuttal_phase_fall.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.rebuttal_phase_fall.current %}
                                    {{site.data.dates.rebuttal_phase_fall.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Acceptance notification:
                                <b>
                                    {% if site.data.dates.research_notification_fall.old!="" %}
                                    <del>{{site.data.dates.research_notification_fall.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.research_notification_fall.current %}
                                    {{site.data.dates.research_notification_fall.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Camera ready deadline:
                                <b>
                                    {% if site.data.dates.camera_ready_fall.old!="" %}
                                    <del>{{site.data.dates.camera_ready_fall.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.camera_ready_fall.current %}
                                    {{site.data.dates.camera_ready_fall.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <h2>Spring cycle</h2>

                            <li>
                                Abstract registration for research track:
                                <b>
                                    {% if site.data.dates.abstract_submission_spring.old!=""%}
                                    <del>{{site.data.dates.abstract_submission_spring.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.abstract_submission_spring.current %}
                                    {{site.data.dates.abstract_submission_spring.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Submission deadline for research track:
                                <b>
                                    {% if site.data.dates.research_submission_spring.old!="" %}
                                    <del>{{site.data.dates.research_submission_spring.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.research_submission_spring.current %}
                                    {{site.data.dates.research_submission_spring.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Rebuttal phase:
                                <b>
                                    {% if site.data.dates.rebuttal_phase_spring.old!="" %}
                                    <del>{{site.data.dates.rebuttal_phase_spring.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.rebuttal_phase_spring.current %}
                                    {{site.data.dates.rebuttal_phase_spring.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Acceptance notification:
                                <b>
                                    {% if site.data.dates.research_notification_spring.old!="" %}
                                    <del>{{site.data.dates.research_notification_spring.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.research_notification_spring.current %}
                                    {{site.data.dates.research_notification_spring.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Camera ready deadline:
                                <b>
                                    {% if site.data.dates.camera_ready_spring.old!="" %}
                                    <del>{{site.data.dates.camera_ready_spring.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.camera_ready_spring.current %}
                                    {{site.data.dates.camera_ready_spring.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <p></p>

                            <li>
                                Conference:
                                <b>
                                    {% if site.data.dates.conference_dates %}
                                    {{site.data.dates.conference_dates}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>
                        </div>

                        <div>
                            <h1>Organizers</h1>
                            <h2>General chair</h2>
                            {% for chair in site.data.chairs.general_chairs %}
                            <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
                            {% endfor %}

                            <h2>PC chairs</h2>
                            {% for chair in site.data.chairs.pc_chairs %}
                            <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
                            {% endfor %}
                        </div>


                        <div>
                            <h1>Submissions options</h1>
                            <p>The DEBS 2023 research track welcomes papers in the following
                                categories:</p>

                            <li>
                                Regular and short papers, presenting original research results on the topics of
                                DEBS as well as experimental papers that provide new insights into the behavior
                                of existing algorithms and systems. Authors should state their submission type
                                (regular/short) in the title.
                                Notice that authors that submit a paper as regular might be offered the
                                opportunity of having their work published as a short paper.
                                Page limits: 12 pages for regular papers (including references) and 6 pages for
                                short papers (including references).
                            </li>

                            <p></p>

                            <li>
                                Vision papers, outlining futuristic distributed and event-based systems.
                                Submissions should describe novel early-stage projects with eventually high
                                impact. Each submission should clearly state the success criteria of the
                                futuristic system. Page limit: 6 pages (all-inclusive).
                            </li>

                            <p></p>

                            <p>DEBS {{site.data.dates.conference_year}} places emphasis on <b>reproducibility</b>: we encourage
                                authors of Research papers and Experiments & Benchmarks papers to make available all
                                data used for empirical evaluation, the related software as well as clear
                                instructions for reproducing the presented experiments, as a form of supplementary
                                material. The reviewers will be encouraged to consider this material. This year's
                                edition will place ACM Artifacts Available badges on papers that make their
                                artifacts available according to ACM's rules (please see <a
                                    href="https://www.acm.org/publications/policies/artifact-review-and-badging-current">https://www.acm.org/publications/policies/artifact-review-and-badging-current</a>).
                            </p>

                            <p>
                                Authors of selected, top-rated papers from DEBS 2023 may be invited to submit an
                                extended version of their paper to a journal special issue. Check the conference
                                website for updates on this matter.
                            </p>

                            <p>
                                All submissions must be original, unpublished and cannot be under review for another
                                publishing forum during the time it is under submission to DEBS.
                            </p>

                            <p>
                                The conference adopts a double-blind review process for the research track, where
                                neither authors nor reviewers know each other’s identities. This means that papers
                                or any other material must not list or otherwise identify the authors. References to
                                previous work should be done in the third person so as to not reveal the identities
                                of the authors. Submissions that are not anonymous may be rejected without review.
                            </p>

                            <p>
                                Submissions to the research track will be evaluated by the Research Program
                                Committee. The authors of accepted papers will be given a choice between different
                                copyright agreements, according to ACM policies. The options will include
                                opportunities for open access as well as the traditional ACM copyright agreement.
                            </p>

                            <p>
                                Submitted papers are required to adhere to the two-column "sigconf" ACM conference
                                proceeding style, with a minimal font size of 10pt. Templates and examples in LaTeX
                                and various versions of Microsoft Word are available for download from the <a
                                    href="https://www.acm.org/publications/proceedings-template">ACM proceedings
                                    templates page</a>.
                            </p>
                        </div>

                        <div>
                            <h1>Dual deadline conditions</h1>

                            <p>
                                DEBS 2023 adopts a dual-deadline model, with a submission deadline in the Fall and
                                another one in the Spring.
                            </p>

                            <p>
                                Authors of papers receiving a Reject decision for the Fall deadline are not allowed to
                                resubmit to the Spring deadline for DEBS 2023. There are, however, no constraints for a
                                resubmission to a future edition of DEBS.
                            </p>

                            <p>
                                In specific cases, the program committee may decide to offer a one-shot revision
                                decision for authors of papers submitted to the Fall deadline, that would be considered
                                promising but lacking in presentation or clarity. In this case, authors will have the
                                possibility to send an updated version to the Spring deadline for reevaluation.
                            </p>

                            <p>
                                Papers must be submitted using the HotCRP system using one of the following links:
                            </p>

                            <li>Fall cycle: <a
                                    href="https://debs2023-fall.hotcrp.com/">https://debs2023-fall.hotcrp.com/</a></li>
                            <li>Spring cycle: <a
                                    href="https://debs2023-spring.hotcrp.com/">https://debs2023-spring.hotcrp.com/</a>
                            </li>
							
                            <p>
                                If you have any questions, please contact the PC chairs, Bettina Kemme and Etienne
                                Rivière, at the following address: <a
                                    href="mailto:debs2023-chairs@uclouvain.be">debs2023-chairs@uclouvain.be</a>
                            </p>
                        </div>
						<div>
							 <h2>ACM Policies</h2>
							<p>
								By submitting your article to an ACM Publication, you are hereby acknowledging that you and your co-authors are subject to all <a href="https://www.acm.org/publications/policies">ACM Publications Policies</a>, including ACM's new <a href="https://www.acm.org/publications/policies/research-involving-human-participants-and-subjects">Publications Policy on Research Involving Human Participants and Subjects</a>. Alleged violations of this policy or any ACM Publications Policy will be investigated by ACM and may result in a full retraction of your paper, in addition to other potential penalties, as per ACM Publications Policy.
							</p>
							<p class="justfy">
							Please ensure that you and your co-authors obtain <a href="https://orcid.org/register">an ORCID ID</a>, so you can complete the publishing process for your accepted paper. ACM has been involved in ORCID from the start and we have recently made a <a href="https://authors.acm.org/author-resources/orcid-faqs">commitment to collect ORCID IDs from all of our published authors</a>. We are committed to improve author discoverability, ensure proper attribution and contribute to ongoing community efforts around name normalization; your ORCID ID will help in these efforts. </p>
						</div>
                    </div>
                </div>

                {% include side.html %}
            </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-manu">
                        <ul>

                        </ul>
                    </div>
                    <ul class="list-inline mb-20">
                        <li class="list-inline-item">Follow us:</li>

                        <li class="list-inline-item"><a href="https://twitter.com/ACM_DEBS"><i
                                    class="fa fa-twitter"></i></a></li>

                        <li class="list-inline-item"><a href="https://www.facebook.com/ACM.DEBS"><i
                                    class="fa fa-facebook"></i></a></li>

                        <li class="list-inline-item"><a href="https://www.linkedin.com/groups/4747505/"><i
                                    class="fa fa-linkedin"></i></a></li>

                    </ul>
                    {% include copyright.html %}
                </div>
            </div>
        </div>
    </footer>
    {% include js-tags.html %}
</body>

</html>