---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>CALL FOR RESEARCH PAPERS</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="CALL FOR RESEARCH PAPERS" %}

    <section id="call-for-research-papers">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="block">
                        <div>
                            <h1>Objective</h1>

                            <p>
                                The ACM International Conference on Distributed and Event‐Based Systems (DEBS) is the premier 
                                venue for academia and industry to discuss cutting-edge research in distributed and event-based 
                                computing and data processing. DEBS 2025 will provide a forum for original research, practical 
                                insights, and experiences in distributed and event-based systems, with a focus on emerging trends 
                                and new challenges in the field.
                            </p>

                            <p>
                                We solicit high-quality submissions across a range of topics, with different submission 
                                options to reflect the nature of each contribution. All submissions will undergo a rigorous 
                                peer review process.
                            </p>

                        </div>
                        <div>

                            <h1>Scope</h1>

                            <p>
                              The DEBS conference covers a broad range of topics in distributed and event-based computing for 
                              various application domains and computing environments. The conference aims to present novel 
                              solutions for collecting, detecting, processing, analyzing, and responding to events through 
                              distributed middleware, systems, and platforms.  DEBS 2025 welcomes submissions focusing on 
                              1) <b>Models, Architectures, Programming, and Query Support</b>, 2) <b>Systems and Software</b>, 
                              and 3) <b>Applications and Use-Cases on the following topics</b>:
                            </p>
              
                            <p>
                              <li>Scalable data stream processing and complex event processing.</li>
                              <li>Dataflow execution and distributed state management.</li>
                              <li>Time series event-based database management.</li>
                              <li>Approximate event-based query processing.</li>
                              <li>Incremental computing, data structures, and materialized view maintenance for relational, graph, and stream data.</li>
                              <li>Security, encryption, forecasting, and in-network processing for data streams.</li>
                              <li>Event-based systems for ML: optimizing end-to-end AI/ML pipelines using event-based systems, i.e., feature engineering, distributed training, and serving.</li>
                              <li>ML for event-based systems: improving performance using AI/ML methods.</li>
                              <li>Cloud, fog, and edge computing, including serverless and FaaS.</li>
                              <li>Hardware acceleration and programmable hardware for event-based systems.</li>
                              <li>Software-defined networking and disaggregated memory architectures for event-based systems.</li>
                              <li>Sustainability, security, reliability, and resilience in event-based systems.</li>
                              <li>Distributed ledger and blockchain for event-based processing.</li>
                              <li>Applications and use-cases regarding Internet-of-Things (IoT), smart cities, virtual and extended/augmented reality, cyber-physical systems, and sensor networks.</li>
                              <li>Applications and use-cases regarding enterprise, finance, healthcare, life sciences, logistics, multimedia analytics, computer/network security, and social networking.</li>
                           </p>
                        </div>

                        <div>
                            <h1>Important Dates</h1>
                            <p style="font-size: 12px">Deadlines expire at 11:59pm AoE.</p>

                            <!--p>
                                DEBS {{site.data.dates.conference_year}} will have one submission cycle for the research track. There will be a
                                rebuttal phase. More information is provided below.
                            </p-->

                            <li>
                                Abstract registration for research track:
                                <b>
                                    {% if site.data.dates.abstract_submission_spring.old!=""%}
                                    <del>{{site.data.dates.abstract_submission_spring.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.abstract_submission_spring.current %}
                                    {{site.data.dates.abstract_submission_spring.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Submission deadline for research track:
                                <b>
                                    {% if site.data.dates.research_submission_spring.old!="" %}
                                    <del>{{site.data.dates.research_submission_spring.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.research_submission_spring.current %}
                                    {{site.data.dates.research_submission_spring.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <!-- <li>
                                Reviews due:
                                <b>
                                    {% if site.data.dates.rebuttal_phase_spring.old!="" %}
                                    <del>{{site.data.dates.rebuttal_phase_spring.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.rebuttal_phase_spring.current %}
                                    {{site.data.dates.rebuttal_phase_spring.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li> -->

                            <li>
                                Notification:
                                <b>
                                    {% if site.data.dates.research_notification_spring.old!="" %}
                                    <del>{{site.data.dates.research_notification_spring.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.research_notification_spring.current %}
                                    {{site.data.dates.research_notification_spring.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Final decision:
                                <b>
                                    {% if site.data.dates.research_finaldecision_spring.old!="" %}
                                    <del>{{site.data.dates.research_finaldecision_spring.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.research_finaldecision_spring.current %}
                                    {{site.data.dates.research_finaldecision_spring.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Camera ready deadline:
                                <b>
                                    {% if site.data.dates.camera_ready_spring.old!="" %}
                                    <del>{{site.data.dates.camera_ready_spring.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.camera_ready_spring.current %}
                                    {{site.data.dates.camera_ready_spring.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <p></p>

                            <li>
                                Conference:
                                <b>
                                    {% if site.data.dates.conference_dates %}
                                    {{site.data.dates.conference_dates}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>
                        </div>

                        <div>
                            <h1>Organizers</h1>
                            <h2>General chair</h2>
                            {% for chair in site.data.chairs.general_chairs %}
                            <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
                            {% endfor %}

                            <h2>PC chairs</h2>
                            {% for chair in site.data.chairs.pc_chairs %}
                            <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
                            {% endfor %}
                        </div>


                        <div>
                            <h1>Submissions Categories</h1>
                            <p>The DEBS 2025 Research Track welcomes papers in the following categories:</p>

                            <li>
                                <b>Regular papers</b>: this category is open to research papers of both theoretical 
                                and experimental nature with novel and original research contributions. Regular papers 
                                must be no longer than 12 pages, including references.
                            </li>

                            <p></p>

                            <li>
                                <b>Short papers</b>: this category offers the opportunity to present and discuss new ideas 
                                    and/or visions on emerging research challenges. Preliminary results from original 
                                    research may also be presented, where some aspects of the work remain open, possibly 
                                    with initial or limited evaluation. Short papers must be no longer than 6 pages, 
                                    including references.
                            </li>

                        </div>
                        <div>

                            <h1>Submissions Guidelines</h1>

                            <p>
                                Submissions should be formatted in the ACM proceedings style (two-column “sigconf” 
                                from <a href="https://www.acm.org/publications/proceedings-template">https://www.acm.org/publications/proceedings-template</a>, 
                                font size set to 10 pt) and submitted as PDF file via Microsoft CMT. A submitted paper cannot be under review 
                                for any other conference or journal during the time it is considered for DEBS 2025, 
                                and it must be substantially different from any previously published work.
                            </p>

                            <p>
                                The Research Track adopts a double-blind review process for both categories of papers, 
                                where neither authors nor reviewers know each other’s identities. This means that 
                                submitted papers must be anonymous (not revealing author names). References to 
                                authors’ previous work should be done in the third person to not reveal their identities. 
                                There should be no acknowledgments of people or projects. Supplementary material 
                                (e.g., GitHub or GitLab repository) should not reveal the authors’ identities; 
                                to this end, anonymized repositories can be used (e.g., 
                                <a href="https://anonymous.4open.science">https://anonymous.4open.science</a>). 
                                Submitted papers that are not anonymous may be rejected without review. 
                            </p>
                            <p>
                                Double-blind reviewing does not preclude submitting work intended for DEBS 2025 to preprint 
                                services such as arXiv. However, authors are encouraged to use preventive measures 
                                to reduce the chances of accidental breach of anonymity (e.g., use a sufficiently 
                                different title for their preprint submission).
                            </p>

                            <p>
                                Authors are strongly encouraged to be inclusive in the writing and presentation of 
                                their work. Please visit the subsection "D&I materials" at 
                                <a href="https://dbdni.github.io/">https://dbdni.github.io/</a> for details.
                            </p>

                            <p>
                                DEBS 2025 promotes research reproducibility: authors of papers submitted to the 
                                Research Track are encouraged to make their artifacts available. The reviewers 
                                will be encouraged to consider this supplementary material. The ACM Artifacts 
                                Available badge will be placed on accepted papers that make their artifacts 
                                available according to ACM’s rules 
                                (<a href="https://www.acm.org/publications/policies/artifact-review-badging">https://www.acm.org/publications/policies/artifact-review-badging</a>).
                            </p>

                            <!-- <p>
                                Authors of selected, top-rated papers from DEBS 2024 may be invited to submit an
                                extended version of their paper to a journal special issue. Check the conference
                                website for updates on this matter.
                            </p> -->

                            <p>
                                The Research Track Program Committee will evaluate submissions to the Research Track.
                            </p>

                            <p>
                                DEBS 2025 plans to be an in-person event, and the authors of accepted papers are 
                                expected to arrange for an in-person attendee to present the paper and answer questions. 
                            </p>

                            <p>
                                All accepted papers will be published in the ACM Digital Library under the 
                                <a href="https://dl.acm.org/conference/debs/proceedings">ACM DEBS 
                                Conference Proceedings</a>. the official publication date is the date the proceedings are 
                                made available in the ACM Digital Library. The authors of accepted papers will choose 
                                between different copyright agreements according to ACM policies. The options will 
                                include opportunities for open access and the traditional ACM copyright agreement. 
                                ACM reserves the right to exclude a paper from distribution after the conference 
                                (e.g., removal from ACM Digital Library) if none of the authors attends the conference 
                                to present their paper.
                            </p>

                            <p>
                                If you have any questions, please contact the PC co-chairs, Valeria Cardellini and 
                                Paris Carbone at <a href="https://cmt3.research.microsoft.com/DEBS2025/Email/Chairs">https://cmt3.research.microsoft.com/DEBS2025/Email/Chairs</a>.
                            </p>
                        </div>

                        <!-- <div>
                            <h1>Dual deadline conditions</h1>

                            <p>
                                DEBS 2024 adopts a dual-deadline model, with a submission deadline in the Fall and
                                another one in the Spring.
                            </p>

                            <p>
                                Authors of papers receiving a Reject decision for the Fall deadline are not allowed to
                                resubmit to the Spring deadline for DEBS 2024. There are, however, no constraints for a
                                resubmission to a future edition of DEBS.
                            </p>

                            <p>
                                In specific cases, the program committee may decide to offer a one-shot revision
                                decision for authors of papers submitted to the Fall deadline, that would be considered
                                promising but lacking in presentation or clarity. In this case, authors will have the
                                possibility to send an updated version to the Spring deadline for reevaluation.
                            </p> -->

                            <!-- <p>
                                Papers must be submitted using the HotCRP system using one of the following links:
                            </p>

                            <li>Fall cycle: <a
                                    href="https://debs2023-fall.hotcrp.com/">https://debs2023-fall.hotcrp.com/</a></li>
                            <li>Spring cycle: <a
                                    href="https://debs2023-spring.hotcrp.com/">https://debs2023-spring.hotcrp.com/</a>
                            </li> -->
							
                            <!-- <p>
                                If you have any questions, please contact the PC chairs, Bettina Kemme and Etienne
                                Rivière, at the following address: <a
                                    href="mailto:debs2023-chairs@uclouvain.be">debs2023-chairs@uclouvain.be</a>
                            </p> -->
                        <!-- </div> -->
						<div>
							 <h2>ACM Policies and Procedures</h2>
							<p>
                                By submitting your article to an ACM Publication, you are hereby acknowledging that you 
                                and your co-authors are subject to all <a href="https://www.acm.org/publications/policies">ACM Publications Policies</a>, 
                                including <a href="https://www.acm.org/publications/policies/research-involving-human-participants-and-subjects">ACM's 
                                    Publications Policy on Research Involving Human Participants and Subjects</a>. ACM will investigate alleged 
                                violations of this policy or any ACM Publications Policy and may result in a full retraction 
                                of your paper, in addition to other potential penalties, as per ACM Publications Policy.
							</p>
                            <p>
                                Regarding <a href="https://www.acm.org/publications/policies/new-acm-policy-on-authorship">ACM Policy on Authorship</a>, 
                                which also provides policies on the use of generative AI tools in preparing manuscripts, please check the 
                                <a href="https://www.acm.org/publications/policies/frequently-asked-questions">frequently asked questions</a> page.
                            </p>
							<p class="justfy">
                                Please ensure that you and your co-authors obtain <a href="https://authors.acm.org/author-resources/orcid-faqs">an ORCID ID</a>, 
                                so you can complete the publishing process for your accepted paper. 
                                ACM has been involved in ORCID from the start and we have recently committed to collect ORCID IDs from all of our published authors. 
                                The collection process has started and will roll out as a requirement throughout 2022. 
                                We are committed to improve author discoverability, ensure proper attribution and contribute to ongoing 
                                community efforts around name normalization; your ORCID ID will help in these efforts. 
                            </p>
						</div>
                    </div>
                </div>

                {% include side.html %}
            </div>
    </section>

    {% include footer.html %}
</body>
</html>