---
# this is an empty front matter
---
<!DOCTYPE html>
<html>

<head>
    <title>CALL FOR INDUSTRY AND APPLICATION PAPERS</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="CALL FOR INDUSTRY AND APPLICATION PAPERS" %}

    <section id="call-for-industry-and-application-papers">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="block">
                        <div>
                            <h1>Objective and Scope</h1>

                            <p class="justify">
                                The DEBS 2023 Industry and Application Track invites submissions on innovative design, development, or deployments of event-based and distributed systems and applications. Contributions will be reviewed by researchers and industry practitioners working in distributed and event-based computing.
                            </p>

                            <p class="justify">
                                An important goal of DEBS is to enrich and cultivate cooperation and exchange between researchers and practitioners who work on distributed and event-based systems. Such interactions help practitioners to become aware of leading edge research that can address issues and problems in commercial systems, while also allowing researchers to learn more about details and concerns with event-based and distributed applications and systems that arise in commercial implementations and deployments.
                            </p>

                            <p class="justify">
                                Submissions should present novel work and experiences with relevant topics including, but not limited to, the following:
                            </p>

                            <li>Use cases and applications of distributed and event-based systems, especially in smart IoT & CPS scenarios</li>
                            <li>Models, architectures and paradigms of distributed and event-based systems</li>
                            <li>Cloud- and edge-based approaches, including serverless and hybrid/multi-cloud, for event-based and distributed applications</li>
                            <li>Distributed systems trade-offs for event-based applications</li>
                            <li>Experiences with load management, fault tolerance and reconfiguration of event-based and distributed systems</li>
                            <li>Security and consistency issues for distributed and event-based systems</li>
                            <li>Systems and approaches for event data management and stream fusion</li>
                            <li>Programming languages and DSLs for distributed and event-based systems</li>
                            <li>Deploying and operating distributed and event-based systems and applications</li>
                            <li>Testing and benchmarking of real-world event processing systems and applications</li>
                            <li>Event processing for training machine learning models</li>
                            <li>Inferencing of machine learning models from event streams and edge AI</li>
                            <li>Experiences with stream processing on heterogeneous and reconfigurable hardware</li>

                            <p class="justify">
                                Finally, as DEBS 2023 places emphasis on reproducibility, we also encourage authors of Industry and Application papers to make available all data used for empirical evaluation, the related software as well as clear instructions for reproducing the presented experiments, as a form of supplementary material. The reviewers will be encouraged to consider this material.
                            </p>
                        </div>

                        <div>
                            <h1>Important Dates</h1>
                            <p style="font-size: 12px">Deadlines expire at 11:59pm AoE.</p>

                            <li>
                                Industry paper submission:
                                <b>
                                    {% if site.data.dates.industry_submission.old!=""%}
                                    <del>{{site.data.dates.industry_submission.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.industry_submission.current %}
                                    {{site.data.dates.industry_submission.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Industry paper notification:
                                <b>
                                    {% if site.data.dates.industry_author_notification.old!="" %}
                                    <del>{{site.data.dates.industry_author_notification.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.industry_author_notification.current %}
                                    {{site.data.dates.industry_author_notification.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Camera ready deadline:
                                <b>
                                    {% if site.data.dates.camera_ready_spring.old!="" %}
                                    <del>{{site.data.dates.camera_ready_spring.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.camera_ready_spring.current %}
                                    {{site.data.dates.camera_ready_spring.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Conference:
                                <b>
                                    {% if site.data.dates.conference_dates %}
                                    {{site.data.dates.conference_dates}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>
                        </div>

                        <div>
                            <h1>Submissions</h1>
                            <p class="justify">
                                Industry and Applications Track papers should cover some novel use or development of event-based applications or distributed systems, with an industry theme, and must be no longer than 12 pages. We also welcome short papers no longer than 6 pages. Each submission must be original, unpublished and cannot be under review for another publishing forum during the time it is under submission to DEBS 2023.
                            </p>

                            <p class="justify">
                                Submissions to the Industry and Application track will be evaluated by the Industry and Application Program Committee. This track will use a single-blind process, unlike the double-blind reviews in the Research Track, so information about the authors and their affiliations should be present in all submissions.
                            </p>

                            <p class="justify">
                                Submitted papers are required to adhere to the two-column "sigconf" ACM conference proceeding style. Templates and examples in LaTeX and various versions of Microsoft Word are available for download from the the ACM Primary Article Template page.
                            </p>

                            <p class="justify">
                                Papers in pdf format may be submitted via HotCRP via the following link: <a href="https://debs23industry.hotcrp.com/">https://debs23industry.hotcrp.com/</a>.
                            </p>

                            <p class="justify">
                                The authors of accepted papers will be given a choice between different copyright agreements, according to the recent changes in the ACM policy. The options will include opportunities for open access as well as the traditional ACM copyright agreement.
                            </p>
                        </div>
                    </div>
                </div>

                {% include side.html %}
            </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-manu">
                        <ul>

                        </ul>
                    </div>
                    <ul class="list-inline mb-20">
                        <li class="list-inline-item">Follow us:</li>

                        <li class="list-inline-item"><a href="https://twitter.com/ACM_DEBS"><i
                                    class="fa fa-twitter"></i></a></li>

                        <li class="list-inline-item"><a href="https://www.facebook.com/ACM.DEBS"><i
                                    class="fa fa-facebook"></i></a></li>

                        <li class="list-inline-item"><a href="https://www.linkedin.com/groups/4747505/"><i
                                    class="fa fa-linkedin"></i></a></li>

                    </ul>
                    {% include copyright.html %}
                </div>
            </div>
        </div>
    </footer>
    {% include js-tags.html %}
</body>

</html>