---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>CALL FOR DOCTORAL SYMPOSIUM</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="CALL FOR DOCTORAL SYMPOSIUM" %}

    <section id="call-for-doctoral-symposium">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="block">
                        <div>
                            <h1>Call for Doctoral Symposium Contributions</h1>
                            <p>
                                The ACM International Conference on Distributed and Event‐Based Systems (DEBS) is a premier venue for academia and industry to discuss cutting-edge research of distributed and event-based computing and data processing. DEBS 202 will be a forum dedicated to the dissemination of original research, the discussion of practical insights, and the reporting of experiences relevant to distributed and event‐based systems.
                            </p>

                            <p>
                                We solicit high-quality submissions, with different submission options for authors depending on the nature of their contribution. All submissions will undergo an extensive peer review process.
                            </p>

<!-- 
                            <p>The DEBS {{site.data.dates.conference_year}} Doctoral Symposium welcomes submissions from doctoral
                                students who are undertaking research relevant to the DEBS {{site.data.dates.conference_year}} conference. Topics
                                covered include, but are not limited to:</p>

                            <div>
                                <li>Distributed and event-based computing within, e.g., software systems, distributed
                                    systems, distributed data processing, data management, dependability, knowledge
                                    management, networking, programming languages, security and software engineering;
                                </li>
                                <li>Domain-specific topics within event-based computing: e.g., real-time analytics, mobile computing, social networking, pervasive, green computing and ubiquitous computing, sensor networks, user interfaces, big data processing, spatio-temporal processing, cloud computing, edge computing, peer-to-peer computing, embedded systems, stream reasoning, and RDF stream processing;
</li>
                                <li>Enterprise-related topics: e.g., complex event detection, enterprise application integration, real-time enterprises and web services</li>
                                <li>Relevant research topics within the Internet of Things.</li>
                            </div> -->

                        </div>
                        <h2>Doctoral Symposium</h2>
                            <p>
                                The Doctoral Symposium provides PhD students a forum to present research results, and to receive constructive feedback and mentoring. Students at different stages will be able to present and discuss their problem statement, goals, methods, and results. The forum aims to provide students with useful guidance on various aspects of their research from established researchers and other PhD students working in research areas related to <em>distributed event-based systems</em>. Additionally, the forum aims to enable PhD students to interact with the other participants to stimulate an exchange of ideas and experiences.
                            </p>
                            <p>
                                The Symposium welcomes submissions by PhD candidates working on the topics of DEBS 2024, including, but not limited to: 
                                <ul class="nested-list">
                                    <li>Models, architectures and paradigms
                                    </li>
                                    <li>
                                        Systems and software
                                    </li>
                                    <li>
                                        Applications and use cases of distributed and event-based computing and data analysis.
                                    </li>
                                </ul>
                            </p>
                            <p>
                                Accepted submissions will lead to a presentation during the doctoral symposium, and may additionally provide an opportunity to present a poster at the main conference. Short papers will be published in a Doctoral Symposium section of the DEBS proceedings. <b>Submission of a short paper does not preclude future publication of the work in conferences/journals, while still providing an opportunity to receive citations.</b> Accepted submissions will be made electronically available to all participants.
                            </p>
                            <p>
                                Submissions must be <b>no longer than 4 pages</b> and must adhere to the <b>two-column "sigconf" ACM conference proceeding style</b>. Templates and examples in LaTeX and various versions of Microsoft Word are available for download from the ACM Master Article Template web pages at <a href="www.acm.org/publications/proceedings-template">www.acm.org/publications/proceedings-template</a> . Papers must be in PDF (Adobe’s Portable Document Format) format and must be submitted electronically.
                            </p>
                            <p>
                                Submissions must be <b>single-author</b>, on the topic of the doctoral work. <b>The supervisor’s name  must be clearly marked (“supervised by …”) on the paper, under the author’s name</b>.
                            </p>
                        </div> 

                        <div>
                            <h2>Submission Structure</h2>
                            <p>
                                Submissions should be written based on the following structure, which focuses on the key methodological components required for a sound research synthesis:
                            </p>
                            <ul class="nested-list">
                                <li>
                                    <em>Problem Statement</em>: What is the core problem your PhD investigates? Why is it relevant? How valuable are the results to the problem (external validity)?
                                </li>
                                <li>
                                    <em>Research approach/Methodology</em>: What methodology (Data Science, Macro-Meso-Micro Research Question, Action Research, etc.) are you following? How good is the method (internal validity)? 
                                </li>
                                <li>
                                    <em>Research setting</em>: What are your research questions? Which hypotheses are you going to investigate? (Note that hypotheses must be falsifiable!) What are the assumptions?
                                </li>
                                <li>
                                    <em>State of the art / Related work</em>: Who has worked on your problem (or a similar one)? What are the main differences between existing research and yours? How and why is your research novel with respect to the state of the art? Authors can include a state of the art section before the approach or a related work section after their approach.
                                </li>
                                <li>
                                    <em>Research approach</em>: What is the proposed solution to the problem statement? How does it answer the research questions?
                                </li>
                                <li>
                                    <em>Evaluation plan</em>: How are you going to evaluate your research? Which datasets will you use? Are you using any established benchmarks? Have you reached any result so far?
                                </li>
                                <li>
                                    <em>Conclusions and reflections</em>: What is the current status of your research? What are the main challenges you are facing? Why do you think your research will be successful?
                                </li>
                            </ul>
                            <p>
                                The forum is open to all PhD students. PhD students at the beginning of their research journey are particularly welcome when they have a well-defined problem statement and some ideas about the solution that they want to discuss. PhD students in a more advanced stage of their research should still have sufficient time remaining before completing their dissertation to be able to benefit from feedback provided from participation in the DEBS Doctoral Symposium.
                            </p>
                            <p>
                                Please submit proposals via EasyChair at  <a href="https://easychair.org/conferences/?conf=debs24">https://easychair.org/conferences/?conf=debs24</a> 
                                Inquiries can be sent to <a href="mailto:stefania.dumbrava@ensiie.fr">stefania.dumbrava@ensiie.fr</a>  and <a href="mailto:jean-paul.calbimonte@hevs.ch">jean-paul.calbimonte@hevs.ch</a>. 
                            </p>
                        </div>

                        <div>
                            <h1>Important Dates</h1>
                            <p style="font-size: 12px">Deadlines expire at 11:59pm AoE.</p>


                            <li>
                                Doctoral symposium paper submission:
                                <b>
                                    {% if site.data.dates.doctoral_symposium_submission.old!="" %}
                                    <del>{{site.data.dates.doctoral_symposium_submission.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.doctoral_symposium_submission.current %}
                                    {{site.data.dates.doctoral_symposium_submission.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>


                            <li>
                                Notification of acceptance:
                                <b>
                                    {% if site.data.dates.doctoral_symposium_author_notification.old!="" %}
                                    <del>{{site.data.dates.doctoral_symposium_author_notification.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.doctoral_symposium_author_notification.current %}
                                    {{site.data.dates.doctoral_symposium_author_notification.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Camera ready deadline:
                                <b>
                                    {% if site.data.dates.camera_ready_phd_symp.old!="" %}
                                    <del>{{site.data.dates.camera_ready_phd_symp.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.camera_ready_phd_symp.current %}
                                    {{site.data.dates.camera_ready_phd_symp.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Conference:
                                <b>
                                    {% if site.data.dates.conference_dates %}
                                    {{site.data.dates.conference_dates}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>
                        </div>

                </div>
                {% include side.html %}

            </div>
        </div>
    </section>

    {% include footer.html %}
</body>
</html>