---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>CALL FOR DOCTORAL SYMPOSIUM</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="CALL FOR DOCTORAL SYMPOSIUM" %}

    <section id="call-for-doctoral-symposium">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="block">
                        <div>
                            <h1>Call for Doctoral Symposium Contributions</h1>
                            <p>
                                The ACM International Conference on Distributed and Event‐Based Systems (DEBS) is a premier venue for academia and industry to discuss cutting-edge research of distributed and event-based computing and data processing. DEBS 202 will be a forum dedicated to the dissemination of original research, the discussion of practical insights, and the reporting of experiences relevant to distributed and event‐based systems.
                            </p>

                            <p>
                                We solicit high-quality submissions, with different submission options for authors depending on the nature of their contribution. All submissions will undergo an extensive peer review process.
                            </p>

<!-- 
                            <p>The DEBS {{site.data.dates.conference_year}} Doctoral Symposium welcomes submissions from doctoral
                                students who are undertaking research relevant to the DEBS {{site.data.dates.conference_year}} conference. Topics
                                covered include, but are not limited to:</p>

                            <div>
                                <li>Distributed and event-based computing within, e.g., software systems, distributed
                                    systems, distributed data processing, data management, dependability, knowledge
                                    management, networking, programming languages, security and software engineering;
                                </li>
                                <li>Domain-specific topics within event-based computing: e.g., real-time analytics, mobile computing, social networking, pervasive, green computing and ubiquitous computing, sensor networks, user interfaces, big data processing, spatio-temporal processing, cloud computing, edge computing, peer-to-peer computing, embedded systems, stream reasoning, and RDF stream processing;
</li>
                                <li>Enterprise-related topics: e.g., complex event detection, enterprise application integration, real-time enterprises and web services</li>
                                <li>Relevant research topics within the Internet of Things.</li>
                            </div> -->

                        </div>
                        <h2>Doctoral Symposium</h2>
                            <p>
                                As for the previous years, the Doctoral Symposium for the 2025 edition of DEBS will provide PhD students a forum to present research results, and to receive constructive feedback and mentoring. More information on this year's edition will be posted here in the coming days! 
                            </p>
                            
                        </div> 

                </div>
                {% include side.html %}

            </div>
        </div>
    </section>

    {% include footer.html %}
</body>
</html>