---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>VISA INFORMATION</title>
  {% include head-tags.html %}
</head>

<body>

  {% include header.html %}
  {% include slider-regular-page.html title="VISA INFORMATION" %}

  <section id="visa-information">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6">
          <div class="block">
            <div>
              <!-- <h1>VISA INFORMATION</h1>
              <p>The Immigration and Checkpoints Authority (ICA) is the authority responsible for visa matters. Please visit the <a href="https://www.ica.gov.sg">ICA's website</a> for detailed information on visa and entry requirements. Alternatively, you may email <a href="mailto:mfa@mfa.sg">mfa@mfa.sg</a> for enquiries on application of Singapore visa abroad.</p>
              <p><strong>Please note:</strong> International registrants should be particularly aware and careful about visa requirements and should plan travel well in advance.</p>

              <h2>Visa Support Letters</h2>
              <p>The Association for Computing Machinery does not issue formal invitation letters for visas to attend ACM sponsored conferences. ACM can however issue a visa support letter. ACM is able to provide visa support letters to attendees as well as authors with accepted papers, posters, or members of the conference committee.</p>
              <p>For visa support letters, refer all requests to <a href="mailto:supportletters@acm.org">supportletters@acm.org</a>. Please allow up to 10 business days to receive a letter. All requests are handled in the order they are received.</p>
              <p>The information below should be included with the request:</p>
              <ul class="nested-list2">
                  <li>Your name as it appears on your passport</li>
                  <li>Your current postal mailing address</li>
                  <li>The name of the conference you are registering for</li>
                  <li>Your registration confirmation number</li>
                  <li>If you have any papers accepted for the conference, please provide the title and indicate whether you are the "sole author" or a "co-author"</li>
                  <li>Authors may indicate their paper title. If no paper, speakers can provide the title of their presentation</li>
              </ul> -->
            </div>

          </div>
        </div>


        {% include side.html %}

      </div>
    </div>
  </section>

  {% include footer.html %}
</body>
</html>