---
# this is an empty front matter
---
<!DOCTYPE html>
<html>

<head>
  <title>VISA INFORMATION</title>
  {% include head-tags.html %}
</head>

<body>

  {% include header.html %}
  {% include slider-regular-page.html title="VISA INFORMATION" %}

  <section id="visa-information">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-6">
          <div class="block">
            <div>
              <h1>Visa Information</h1>

              <p align="justify">You can check <a
                  href="https://www.swiss-visa.ch/">here</a> about
                whether you need a visa to enter Switzerland and how to apply for it. If you need to apply for a visa,
                please contact the General Chair Valerio Schiavoni (valerio.schiavoni&lt;at&gt;unine.ch) to request an invitation.</p>

            </div>

          </div>
        </div>


        {% include side.html %}

      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-manu">
            <ul>

            </ul>
          </div>
          <ul class="list-inline mb-20">
            <li class="list-inline-item">Follow us:</li>

            <li class="list-inline-item"><a href="https://twitter.com/ACM_DEBS"><i class="fa fa-twitter"></i></a></li>

            <li class="list-inline-item"><a href="https://www.facebook.com/ACM.DEBS"><i class="fa fa-facebook"></i></a>
            </li>

            <li class="list-inline-item"><a href="https://www.linkedin.com/groups/4747505/"><i
                  class="fa fa-linkedin"></i></a></li>

          </ul>
          {% include copyright.html %}
        </div>
      </div>
    </div>
  </footer>
  {% include js-tags.html %}
</body>

</html>