---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>VISA INFORMATION</title>
  {% include head-tags.html %}
</head>

<body>

  {% include header.html %}
  {% include slider-regular-page.html title="VISA INFORMATION" %}

  <section id="visa-information">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-6">
          <div class="block">
            <div>
              <h1>Visa Information</h1>

              <p>You can check <a
                  href="https://www.swiss-visa.ch/">here</a> about
                whether you need a visa to enter Switzerland and how to apply for it. If you need to apply for a visa,
                please contact the General Chair Valerio Schiavoni (valerio.schiavoni&lt;at&gt;unine.ch) to request an invitation.</p>

            </div>

          </div>
        </div>


        {% include side.html %}

      </div>
    </div>
  </section>

  {% include footer.html %}
</body>
</html>