---
# this is an empty front matter
---
<!DOCTYPE html>
<html>
<head>
<title>CONFERENCE REGISTRATION</title>
{% include head-tags.html %}
</head>
<body>

{% include header.html %}
{% include slider-regular-page.html title="CONFERENCE REGISTRATION" %}


<section id = "conference-registration">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="block">
          <div>
            <h1>Registration</h1>
            
              <p align = "justify"><b>The deadline for author registration is June 10.</b> If the registration is not received in time, the paper will not be included in the proceedings. 
				  There should be at least one full-author registration per paper.
              </p>
            
              <p align = "justify">To register please click <a href="https://portal.unine.ch/event_debs2023_en">here</a>.</p>
            
              <p align = "justify"><b>Registration Fees</b> (VAT included)</p>
            
          </div>
          <div>
            <table class="table table-bordered table-hover text-center">
              <thead class="bg-gray">
                <tr>
                  <th class="text-center">Registration Type</th>
                  <th class="text-center">Early (by June 13)</th>
                  <th class="text-center">Late (after June 13)</th>
                </tr>
              </thead>
              <tbody>
                
				    <tr>
				      <td> ACM Member </td>
				      <td> 700 CHF</td>
				      <td> 800 CHF</td>
				    </tr>
				    
				    <tr>
				      <td>Non-Member of ACM </td>
				      <td> 800 CHF</td>
				      <td> 900 CHF</td>
				    </tr>
				    
				    <tr>
				      <td>Student Member of ACM </td>
				      <td> 450 CHF</td>
				      <td> 550 CHF</td>
				    </tr>
				
				    <tr>
				      <td>Student Non-Member of ACM </td>
				      <td> 550 CHF</td>
				      <td> 650 CHF</td>
				    </tr>
				
				    <tr>
				      <td>Virtual Author</td>
				      <td> 500 CHF</td>
				      <td> 500 CHF </td>
				    </tr>
				
				    <tr>
				      <td>Virtual Non-Author </td>
				      <td> 100 CHF</td>
				      <td> 100 CHF</td>
				    </tr>
                
              </tbody>
            </table>
          </div>
          
          <div>
            <h1>Cancellation Policy</h1>
            <p align = "justify">Registrations can be canceled and refunded before the early deadline, i.e. June 13.</p>
          </div>
        </div>
      </div>
      
      {% include side.html %}

    </div>
  </div>
</section>



  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-manu">
            <ul>

            </ul>
          </div>
          <ul class="list-inline mb-20">
            <li class="list-inline-item">Follow us:</li>

            <li class="list-inline-item"><a href="https://twitter.com/ACM_DEBS"><i class="fa fa-twitter"></i></a></li>

            <li class="list-inline-item"><a href="https://www.facebook.com/ACM.DEBS"><i class="fa fa-facebook"></i></a>
            </li>

            <li class="list-inline-item"><a href="https://www.linkedin.com/groups/4747505/"><i
                  class="fa fa-linkedin"></i></a></li>

          </ul>
          {% include copyright.html %}
        </div>
      </div>
    </div>
  </footer>
  {% include js-tags.html %}
</body>

</html>