---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Information to authors</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="INFORMATION TO AUTHORS" %}

    <section id="industry-pc">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="block">
                        <div style="margin-bottom: 100px;">
                            <h1>Information to authors</h1>

                            <p>
                                Authors of accepted papers and posters are expected to present their work during the
                                conference (<a href="/program-schedule/">view the program</a>).
                                As DEBS 2023 will be both a physical and virtual event, we have different procedures for
                                presentations.
                            </p>

                            <h2>Guidelines for Paper Presentation</h2>
                            <p>
                                As you prepare for your presentation, please be mindful of the following:
                                <li>
                                    Each presentation will span 20 minutes, followed by a 5-minute question-and-answer.
                                    Please make sure your presentation is within the time limit as timings will be
                                    strictly enforced by session chairs.
                                </li>
                                <li>
                                    The projector has a 16:9 aspect ratio. Prepare your presentations accordingly.
                                </li>
                            </p>

                            <h4>On-Site Presentation Details</h4>
                            <p>
                                If you opt to present at the physical event, you have two alternatives:
                               
                                <li>
                                    <b>Using the in-room computer:</b> we have arranged for a computer equipped with Microsoft PowerPoint and Adobe Reader.
                                    This computer is also preconfigured with the necessary web conferencing application.
                                </li>
                                <li>
                                    <b>Using your personal computer:</b> HDMI and VGA connectivities are available.
                                    In preparation for your presentation, we kindly request you to install Webex (<a href="https://www.webex.com/downloads.html" target="_blank">download here</a>) <b>prior</b> to the conference.
                                    This enables you to share your screen during your presentation.
                                    The conference invite link will be forwarded to you in due time.
                                </li>
                            </p>

                            <h4>Remote Presentation Details</h4>
                            <p>
                                If you opt to present virtually, we request you to install Webex (<a href="https://www.webex.com/downloads.html"
                                    target="_blank">download here</a>) on your computer <b>before</b> the conference, so
                                you will be able to share your screen and webcam during your presentation.
                                The conference invite link will be forwarded to you in due time.
                            </p>

                            <h2>Guidelines for Poster Presentation</h2>
                            <p>
                                Please bring a printed version of your poster to the event, as we have no on-site
                                printing facility. The maximum size of the poster is vertical A1. We will provide the
                                easels, boards, and push pins.
                            </p>
                            <p>
                                As is tradition at DEBS, the conference will start with a 1-minute madness session, where each author briefly presents their poster.
                                Please prepare and send <b>exactly</b> only 1 slide (no animation) to the Poster chair (baptiste.lepers&lt;at&gt;unine.ch).
                                The slide and presentation should serve as a teaser of what the audience can anticipate during the poster or demo session.
                                We encourage you to be creative with your slide, keeping in mind you only have one minute for this presentation.
                                The idea is to get the audience excited, so they will be eager to learn more during the poster session.
                            </p>
                            <p>
                                The order of presentations will be shared with you at a later date.
                                If you are unable to attend the 1-minute madness session, please contact the Poster chair (baptiste.lepers&lt;at&gt;unine.ch).
                            </p>
                        </div>
                    </div>
                </div>

                {% include side.html %}

            </div>
        </div>
    </section>

    {% include footer.html %}
</body>
</html>